<%= form_for(@plano) do |f| %>
  <% if @plano.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plano.errors.count, "error") %> prohibited this plano from being saved:</h2>

      <ul>
      <% @plano.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id ="ameacas_e_respostas">
  <div class="field">
    <%= f.label :ameacas %><br>
    <%= f.text_area :ameacas %>
  </div>
  <div class="field">
    <%= f.label :respostas_ameaca %><br>
    <%= f.text_area :respostas_ameaca %>
  </div>
</div>

<div id="oportunidades_e_respostas">
  <div class="field">
    <%= f.label :oportunidades %><br>
    <%= f.text_area :oportunidades %>
  </div>
  <div class="field">
    <%= f.label :respostas_oportunidades %><br>
    <%= f.text_area :respostas_oportunidades %>
</div>

 </div>

<div id="fraquezas_e_respostas">
  <div class="field">
    <%= f.label :fraquezas %><br>
    <%= f.text_area :fraquezas %>
  </div>
  <div class="field">
    <%= f.label :respostas_fraquezas %><br>
    <%= f.text_area :respostas_fraquezas %>
  </div>
</div>

<div id="forcas_e_respostas">
  <div class="field">
    <%= f.label :forcas %><br>
    <%= f.text_area :forcas %>
  </div>
  <div class="field">
    <%= f.label :respostas_forcas %><br>
    <%= f.text_area :respostas_forcas %>
  </div>
</div>

<div id="missao">
  <div class="field">
    <%= f.label :missao %><br>
    <%= f.text_area :missao %>
  </div>
</div>

<div id="objetivos">
  <div class="field">
    <%= f.label :objetivos_proximo_ano %><br>
    <%= f.text_area :objetivos_proximo_ano %>
  </div>
  <div class="field">
    <%= f.label :objetivos_cinco_anos %><br>
    <%= f.text_area :objetivos_cinco_anos %>
  </div>
  <div class="field">
    <%= f.label :objetivos_dez_anos %><br>
    <%= f.text_area :objetivos_dez_anos %>
  </div>
</div>
<div id="estrategias">
  <div class="field">
    <%= f.label :objetivos %><br>
    <%= f.text_area :objetivos %>
  </div>
  <div class="field">
    <%= f.label :estrategias %><br>
    <%= f.text_area :estrategias %>
  </div>
</div>

<div id= "plano de ação">
  <div class="field">
    <%= f.label :plano_objetivo %><br>
    <%= f.text_area :plano_objetivo %>
  </div>
  <div class="field">
    <%= f.label :plano_estrategia %><br>
    <%= f.text_area :plano_estrategia %>
  </div>
  <div class="field">
    <%= f.label :plano_prazo %><br>
    <%= f.text_area :plano_prazo %>
  </div>
  <div class="field">
    <%= f.label :plano_fator_critico %><br>
    <%= f.text_area :plano_fator_critico %>
  </div>
  <div class="field">
    <%= f.label :plano_recursos %><br>
    <%= f.text_area :plano_recursos %>
  </div>
</div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :publico, [['Raschunho', false] , ['Finalizado', true]] %>
  </div>
  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Criar plano" : "Atualizar plano"), class: "btn" %>
  </div>
<% end %>

