<h2>Bem vindo <%= current_user.nome%></h2>
<% if @my_quizzes != nil && @my_quizzes.size > 0%>
  <div class="alert alert-warning">
    <p>Voce tem Questionarios para responder, clique nas datas</p>
      <% @my_quizzes.each do |quiz| %>
        <%= link_to "#{quiz.data_final}", quiz_index_path(:data_final => quiz.data_final) %><br>
      <% end %>
  </div>
<% end %>

<% if @atividades.size > 0%>
  <div class="alert alert-info">
    <p>Voce tem atividades para responder</p>
      <% @atividades.each do |atividade| %>
        <%= link_to "#{atividade.titulo}", new_answer_path(:atividade_extra => atividade) %><br>
      <% end %>
  </div>
<% end %>

<% if @my_learning_quizzes != nil && @my_learning_quizzes.size > 0%>
  <div class="alert alert-info">
    <p>Voce tem Questionarios de estilo de aprendizagem para responder, clique nas datas</p>
      <% @my_learning_quizzes.each do |quiz| %>
        <%= link_to "#{quiz.data_final}", new_learning_result_path(:data_final => quiz.data_final) %><br>
      <% end %>
  </div>
<% end %>

<% if @plano != nil%>
  <% if @notes != nil && @notes.size > 1%>
  <div class="alert alert-warning">
    <strong>Você tem observações no plano de carreira</strong>
    <%= link_to 'Editar Plano de carreira', edit_plano_path(@plano) %>
  <% end %>
  </div>
<% end %>




<p>
    <strong>Minhas Turmas</strong>
</p>
<table>
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Turno</th>
      <th>Codigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.subject.nome %></td>
        <td><%= classroom.turno %></td>
        <td><%= classroom.codigo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>