<div class="row">
  <div class="col-lg-9">
    <div class="col-lg-3">
      <img  src="/assets/saad.png" class="img-responsive">
    </div>
    <div class="col-lg-9">
      <h2>Bem vindo ao SAAD <%= current_user.nome%></h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta, lacus sit amet auctor faucibus, justo libero sodales leo, quis porttitor dui lectus eu ante. In suscipit enim odio, nec euismod magna pellentesque feugiat. Morbi porta quam sed erat egestas mattis. Aliquam et ultricies nunc, a gravida nisi. Etiam eget tellus sit amet lorem condimentum scelerisque ut vitae tortor. Integer vitae molestie turpis, quis pellentesque leo. Praesent eget tincidunt purus, dictum pharetra magna. Vivamus laoreet tortor non ex tristique, ut cursus felis pretium. Duis rutrum sem mi, et facilisis odio feugiat in. Donec non urna at elit scelerisque molestie. Sed ac dui at metus porta varius. Sed accumsan ex et arcu porta, eget fringilla ex sagittis. Pellentesque mauris nunc, interdum euismod pharetra vel, accumsan nec enim. Etiam nec suscipit nisi.
      </p>
    </div>
  </div>
  <!-- *********************************************************************************** -->
  <div class="col-lg-3 ds">
    <!--COMPLETED ACTIONS DONUTS CHART-->
    <h3> Questionarios </h3>
    <% if @my_quizzes != nil && @my_quizzes.size > 0%>
    <br>
    <h4 class="text-center">Voce tem Questionarios para responder, clique nas datas</h4>
      <% @my_quizzes.each do |quiz| %>
        <div class="desc">
          <div class="thumb">
            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
            <p>
              <%= link_to "#{quiz.data_final}", quiz_index_path(:data_final => quiz.data_final) %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
    <hr>
    <% if @atividades.size > 0%>
        <br>
        <h4 class="text-center">Voce tem atividades para responder</h4>
          <% @atividades.each do |atividade| %>
            <div class="desc">
              <div class="thumb">
                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
              </div>
              <div class="details">
                <p>
                  <%= link_to "#{atividade.titulo}", new_answer_path(:atividade_extra => atividade) %><br>
                </p>
              </div>
            </div>
        <% end %>
    <% end %>
    <hr>
    <% if @my_learning_quizzes != nil && @my_learning_quizzes.size > 0%>
        <br>
        <h4 class="text-center">Voce tem Questionarios de estilo de aprendizagem para responder, clique nas datas</h4>
        <% @my_learning_quizzes.each do |quiz| %>
            <div class="desc">
              <div class="thumb">
                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
              </div>
              <div class="details">
                <p>
                  <%= link_to "#{quiz.data_final}", new_learning_result_path(:data_final => quiz.data_final) %><br>
                </p>
              </div>
            </div>
        <% end %>
    <% end %>

    <hr>
    <% if @plano != nil%>
        <br>
        <% if @notes != nil && @notes.size > 1%>
        <h4 class="text-center">Voce tem Questionarios de estilo de aprendizagem para responder, clique nas datas</h4>

            <div class="desc ">
              <div class="thumb">
                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
              </div>
              <div class="details ">
                <p>
                  <%= link_to 'Editar Plano de carreira', edit_plano_path(@plano) %>
                </p>
              </div>
            </div>
        <% end %>
    <% end %>

  <h4><i class="fa fa-angle-right"></i> Minhas Turmas</h4><hr><table class="table table-hover">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Turno</th>
      <th>Codigo</th>
    </tr>
    </thead>
    <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.subject.nome %></td>
        <td><%= classroom.turno %></td>
        <td><%= classroom.codigo %></td>
      </tr>
    <% end %>
    </tbody>
  </table>


    <!-- **************************bloco anterior comentado********************************************************* -->

<!--    <% if @my_quizzes != nil && @my_quizzes.size > 0%>
      <div class="alert alert-warning">
        <p>Voce tem Questionarios para responder, clique nas datas</p>
          <% @my_quizzes.each do |quiz| %>
            <%= link_to "#{quiz.data_final}", quiz_index_path(:data_final => quiz.data_final) %><br>
          <% end %>
      </div>
    <% end %>-->

<!--    <% if @atividades.size > 0%>
      <div class="alert alert-info">
        <p>Voce tem atividades para responder</p>
          <% @atividades.each do |atividade| %>
            <%= link_to "#{atividade.titulo}", new_answer_path(:atividade_extra => atividade) %><br>
          <% end %>
      </div>
    <% end %>-->

<!--    <% if @my_learning_quizzes != nil && @my_learning_quizzes.size > 0%>
      <div class="alert alert-info">
        <p>Voce tem Questionarios de estilo de aprendizagem para responder, clique nas datas</p>
          <% @my_learning_quizzes.each do |quiz| %>
            <%= link_to "#{quiz.data_final}", new_learning_result_path(:data_final => quiz.data_final) %><br>
          <% end %>
      </div>
    <% end %>-->

<!--    <% if @plano != nil%>
      <% if @notes != nil && @notes.size > 1%>
      <div class="alert alert-warning">
        <strong>Você tem observações no plano de carreira</strong>
        <%= link_to 'Editar Plano de carreira', edit_plano_path(@plano) %>
      <% end %>
      </div>
    <% end %>-->




<!--    <p>
        <strong>Minhas Turmas</strong>
    </p>
    <table>
      <thead>
        <tr>
          <th>Disciplina</th>
          <th>Turno</th>
          <th>Codigo</th>
          &lt;!&ndash;<th colspan="3"></th>&ndash;&gt;
        </tr>
      </thead>

      <tbody>
        <% @classrooms.each do |classroom| %>
          <tr>
            <td><%= classroom.subject.nome %></td>
            <td><%= classroom.turno %></td>
            <td><%= classroom.codigo %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>-->
  </div>


</div>