 <div class="panel panel-default">
  <div class="panel-heading">
    <center><h4><i class="fa fa-file-o"></i>Atividades</h4></center>
  </div>

    <div class="row mt">
      <div class="col-lg-12">
            <div class="panel-body">

          <h4><i class="fa fa-file-o" style="color:#11B70B;"></i> Atividades Em Aberto</h4>
          <section id="unseen">
            <table class="table table-bordered table-striped table-condensed">
      <thead>
          <tr>
            <th>Titulo</th>
            <th>Descricao</th>
            <th  style="width: 80px;">Prazo</th>
            <th>Autor</th>
            <th>Anexo</th>
            <th></th>
            <th ></th>
          </tr>
        </thead>

        <tbody>
          <% @atividades.each do |atividade_extra| %>
          <% if atividade_extra.status == 'aberta' %>
            <tr>
              <td><%= atividade_extra.titulo %></td>
              <td><%= atividade_extra.descricao %></td>
              <td><%= atividade_extra.data_final.strftime("%d/%m/%Y") %></td>
              <td><%= atividade_extra.sender.nome %></td>
              <td><%= link_to  atividade_extra.arquivo.url(:original, false) ,class:"btn btn-default btn-sm" do %>
                  <% if atividade_extra.arquivo_content_type == "application/pdf" %>
                    <i class="fa fa-file-pdf-o" style="color:#BD1E0F;"></i>
                  <% else %>
                    <i class="fa fa-file-word-o" style="color:#08336E;"></i>

                  <% end %>
              <% end %>
              <td><%= link_to "Responder", new_answer_path(:atividade_extra => atividade_extra) ,class:"btn btn-default btn-sm"%></td>
              <%# depois da uma olhada nisso aqui %>
              <td><%= link_to "Ver suas respostas", student_area_list_answers_path(:atividade_extra => atividade_extra) ,class:"btn btn-default btn-sm"%></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>

      </section>

      </div>
      </div>
      </div>

      <br>