<div class="panel panel-default">
  <div class="panel-heading">
    <h4></i>Estilos de Aprendizagem</h4>
        <div id='exports'>
        </div>

  </div>
      <div class="row mt">
          <div class="col-lg-12">
          <div class="panel-body">
           
        <%= form_tag(show_by_date_learning_results_path, method: 'post', :remote => true) do %>
              <%= hidden_field_tag "selecao", @selecao %>
         <div class="row">
          <center> <h5>Selecione uma das datas abaixo para visualizar o resultado:
          </h5></center>
           <div class="col-lg-2" style="right: -400px">
            <div class="form-group">
              <center><%= select_tag(:data_final, options_for_select(@datas),:class => "form-control") %></center>
              <% @results.map(&:id).each do |id| %>
                <%= hidden_field_tag "results[]", id %>
              <% end %>
              </br>
              <% end %>
                            <center><%= submit_tag "Visualizar Estilo ", class: "btn btn-default"%></center>

             </div>
            </div>

           </div>

              <div id="chartjs" class="row mt">
                  <div class="col-lg-6" class="table table-bordered table-striped table-condensed">
                        <div id="graphic"></div>
                  </div>
                  <div class="col-lg-6">
                        <div id="graphic2"></div>
                  </div>


              </div>

          </div>
      </div>
      </div>
      </div>
