 <%= javascript_include_tag 'plano_modal' %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Plano de Carreira <%= link_to  student_area_pdf_plan_path(format: 'pdf'), :class => "btn btn-danger", style:  "margin-top : -285x; margin-left: 800px;" do  %> 
            <i class="fa  fa-file-pdf-o "></i>
        <% end %>
    </h4>
    
  </div>
          <div class="panel-body">
                <div class="col-lg-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#forcas" aria-controls="forcas" role="tab" data-toggle="tab"><h4>Forças</h4></a></li>
                      <li role="presentation"><a href="#oportunidades" aria-controls="oportunidades" role="tab" data-toggle="tab"><h4>Oportunidades</h4></a></li>
                      <li role="presentation"><a href="#fraquezas" aria-controls="fraquezas" role="tab" data-toggle="tab"><h4>Fraquezas</h4></a></li>
                      <li role="presentation"><a href="#ameacas" aria-controls="ameacas" role="tab" data-toggle="tab"><h4>Ameaças</h4></a></li>
                      <li role="presentation"><a href="#missao" aria-controls="missao" role="tab" data-toggle="tab"><h4>Minha missão</h4></a></li>
                      <li role="presentation"><a href="#objetivos" aria-controls="objetivos" role="tab" data-toggle="tab"><h4>Objetivos</h4></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="forcas">
                          <h3>&nbsp;Forças <%= link_to  '#new_strength_modal', 'data-toggle' => 'modal', :class => "btn btn-success btn-sm", :title => "Adicionar força" do %>   
                            <i class="fa fa-plus" ></i>
                            <% end %>
                          <button class="warning btn btn-warning btn-sm" id= "forc">&nbsp;<i class="fa fa-info" >&nbsp; </i>
                          </button>
</h3>

                            <hr>
                            <div id = "strengths">
                                <%= render @strengths%>
                            </div>
                            <% if @strength_notes != nil && @strength_notes.size > 0%>
                              <h2>&nbsp;<i class="fa fa-angle-right"></i>Observações de forças</h2>
                              <% @strength_notes.each do |note|%>
                                    <div>
                                        <label class="control-label"> &nbsp; &nbsp; &nbsp; • Observação: <%= note.texto %> • Autor: <%= note.sender.nome %> <%= link_to  note, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class => "btn btn-danger btn-sm", :title => "Deletar Observação" do%>
                                              <i class="fa fa-close" ></i>
                                          <% end %>
                                        </label><br>
                                    </div>
                              <% end %>
                            <% end %>
                            <div class="modal fade" id="new_strength_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Criar nova Força</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'strengths/form', modal: true %>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="oportunidades">
                        <h3>&nbsp;Oportunidades <%= link_to  '#new_opportunity_modal', 'data-toggle' => 'modal', :class => "btn btn-success btn-sm", :title => "Adicionar Oportunidade" do %>   
                            <i class="fa fa-plus" ></i>
                            <% end %>
                          <button class="warning btn btn-warning btn-sm" id= "oport">&nbsp;<i class="fa fa-info" >&nbsp; </i>
                          </button>
                        </h3>
                            <hr>
                            <div id = "opportunities">
                              <%= render @opportunities%>
                            </div>
                            <% if @opportunity_notes != nil && @opportunity_notes.size > 0%>
                              <h2>&nbsp;<i class="fa fa-angle-right"></i>Observações sobre oportunidades</h2>
                              <% @opportunity_notes.each do |note|%>
                                    <div>
                                        <label class="control-label"> &nbsp; &nbsp; &nbsp; • Observação: <%= note.texto %> • Autor: <%= note.sender.nome %> <%= link_to  note, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class => "btn btn-danger btn-sm", :title => "Deletar Observação" do %>
                                              <i class="fa fa-close" ></i>
                                          <% end %>
                                        </label><br>
                                    </div>
                              <% end %>
                            <% end %>
                            <div class="modal fade" id="new_opportunity_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Criar nova Oportunidade</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'opportunities/form', modal: true %>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="fraquezas">
                        <h3>&nbsp;Fraquezas <%= link_to  '#new_weakness_modal', 'data-toggle' => 'modal', :class => "btn btn-success btn-sm", :title => "Adicionar Fraqueza" do %> 
                            <i class="fa fa-plus" ></i>
                        <% end %>
                          <button class="warning btn btn-warning btn-sm" id= "fraq">&nbsp;<i class="fa fa-info" >&nbsp; </i></button>
                        </h3>
                            <hr>
                            <div id = "weaknesses">
                              <%= render @weaknesses%>
                          </div>
                          <% if @weakness_notes != nil && @weakness_notes.size > 0%>
                              <h2>&nbsp;<i class="fa fa-angle-right"></i>Observações de fraquezas</h2>
                              <% @weakness_notes.each do |note|%>
                                    <div>
                                        <label class="control-label"> &nbsp; &nbsp; &nbsp; • Observação: <%= note.texto %> • Autor: <%= note.sender.nome %> <%= link_to  note, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class => "btn btn-danger btn-sm", :title => "Deletar Observação" do%>
                                            <i class="fa fa-close" ></i>
                                          <% end %>
                                        </label><br>
                                    </div>
                              <% end %>
                            <% end %>
                            <div class="modal fade" id="new_weakness_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Criar nova Fraqueza</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'weaknesses/form', modal: true %>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="ameacas">
                        <h3>&nbsp;Ameaças <%= link_to '#new_threat_modal', 'data-toggle' => 'modal', :class => "btn btn-success btn-sm", :title => "Adicionar Ameaça" do%>
                              <i class="fa fa-plus" ></i>
                          <% end %>
                          <button class="warning btn btn-warning btn-sm" id= "ameac">&nbsp;<i class="fa fa-info" >&nbsp; </i>
                          </button>

                        </h3>
                            <hr>
                            <div id = "threats">
                              <%= render @threats%>
                          </div>
                          <% if @threat_notes != nil && @threat_notes.size > 0%>
                              <h2>&nbsp;<i class="fa fa-angle-right"></i>Observações de ameaças</h2>
                              <% @threat_notes.each do |note|%>
                                    <div>
                                        <label class="control-label"> &nbsp; &nbsp; &nbsp; • Observação: <%= note.texto %> • Autor: <%= note.sender.nome %> <%= link_to  note, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class => "btn btn-danger btn-sm", :title => "Deletar Observação" do %>
                                              <i class="fa fa-close" ></i>
                                          <% end %>
                                        </label><br>
                                    </div>
                              <% end %>
                            <% end %>
                            <div class="modal fade" id="new_threat_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Criar nova ameaça</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'threats/form', modal: true %>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                                            <div role="tabpanel" class="tab-pane" id="objetivos">
                        <h3>&nbsp;Objetivos <%= link_to  '#new_objective_modal', 'data-toggle' => 'modal', :class => "btn btn-success btn-sm", :title => "Adicionar Objetivo" do%>
                              <i class="fa fa-plus" ></i>
                          <% end %>
                          <button class="warning btn btn-warning btn-sm" id= "objects">&nbsp;<i class="fa fa-info" >&nbsp; </i>
                          </button>
                        </h3>
                        <hr>
                        <div id = "objectives">
                            <%= render @objectives%>
                        </div>
                        <% if @objective_notes != nil%>
                              <h2>&nbsp;<i class="fa fa-angle-right"></i>Observações de objetivos</h2>
                              <% @objective_notes.each do |note|%>
                                    <div>
                                        <label class="control-label"> &nbsp; &nbsp; &nbsp; • Observação: <%= note.texto %> • Autor: <%= note.sender.nome %> <%= link_to  note, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class => "btn btn-danger btn-sm", :title => "Deletar Observação" do%>
                                              <i class="fa fa-close" ></i>
                                          <% end %>
                                        </label><br>
                                    </div>
                              <% end %>
                            <% end %>
                        <div class="modal fade" id="new_objective_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Criar novo Objetivo</h4>
                              </div>
                              <div class="modal-body">
                                <%# Render the new person form (passing modal => true to enable remote => true) %>
                                <%= render 'objectives/form', modal: true %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                      <div role="tabpanel" class="tab-pane" id="missao">
                        <%= form_for(@plano) do |f| %>
                        <div class="form-group">
                          <h3>&nbsp;Minha missão</h3>
                            <p>&nbsp;Reflita sobre sua missão, a razão de ser de seus esforços e do seu emprego de seus talentos e recursos. Registre-os abaixo. Atualize o plano para salvar alterações</p><br>
                          <div class="col-sm-11">
                              <%= f.text_area :mission, :class => "form-control", rows: 4%><br>
                          </div>
                          <% if @mission_notes != nil && @mission_notes.size > 0%>
                              <h2>&nbsp;<i class="fa fa-angle-right"></i>Observações sobre missão</h2>
                              <% @mission_notes.each do |note|%>
                                    <div>
                                        <label class="control-label"> &nbsp; &nbsp; &nbsp; • Observação: <%= note.texto %> • Autor: <%= note.sender.nome %> <%= link_to  note, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, :class => "btn btn-danger btn-sm", :title => "Deletar Observação" do%>
                                              <i class="fa fa-close" ></i>
                                          <% end %>
                                        </label><br>
                                    </div>
                              <% end %>
                            <% end %>
                        </div>
                  </div>
              </div>
      </div>
  </div>
  <div class="row mt" style="margin-left: 250px">
    <div class="col-lg-12">
          <div class="form-group">
        <div class="col-lg-4">
          <%= f.label :status %>
          <center><%= f.select :publico, [['Raschunho', false] , ['Finalizado', true]], {}, {class: "form-control"} %></center>
          <p>Somente planos finalizados ficarão visíveis para os professores</p>
        </div>

        <div class="actions">
          <%= f.submit ( f.object.new_record? ? "Criar plano" : "Atualizar plano"), class: "btn btn-default", style:  "margin-top : 25px"%>
        </div>
      <% end %>
    </div>
  </div>
  </div>
  <script type="text/javascript">
  $("#forc").click(function(){
      $.notify({
        message: ' Características e condições pessoais que poderão afetar positivamente sua carreira ou seus objetivos nos próximos anos'
      },{
        type: 'pastel-info',
        delay: 5000,
        template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
          '<span data-notify="title">{1}</span>' +
          '<span data-notify="message">{2}</span>' +
        '</div>'
      });
    });
  $("#fraq").click(function(){
      $.notify({
        message: 'Características e condições pessoais que poderão afetar negativamente sua carreira ou seus objetivos nos próximos anos'
      },{
        type: 'pastel-info',
        delay: 5000,
        template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
          '<span data-notify="title">{1}</span>' +
          '<span data-notify="message">{2}</span>' +
        '</div>'
      });
    });
  $("#oport").click(function(){
      $.notify({
        message: ' Eventos externos que poderão afetar positivamente sua carreira ou seus objetivos nos próximos anos'
      },{
        type: 'pastel-info',
        delay: 5000,
        template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
          '<span data-notify="title">{1}</span>' +
          '<span data-notify="message">{2}</span>' +
        '</div>'
      });
    });
  $("#ameac").click(function(){
      $.notify({
        message: '  Eventos externos que poderão afetar negativamente sua carreira ou seus objetivos nos próximos anos'
      },{
        type: 'pastel-info',
        delay: 5000,
        template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
          '<span data-notify="title">{1}</span>' +
          '<span data-notify="message">{2}</span>' +
        '</div>'
      });
    });
  $("#objects").click(function(){
      $.notify({
        message: 'Quais os seus objetivos para o próximo ano, para daqui a cinco anos e dez anos? Reflita para isso, com base nas análises realizadas anteriormente e na missão que você definiu.'
      },{
        type: 'pastel-info',
        delay: 5000,
        template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
          '<span data-notify="title">{1}</span>' +
          '<span data-notify="message">{2}</span>' +
        '</div>'
      });
    });

  </script>
  </div>
