 <%= javascript_include_tag 'plano_modal' %>
<h2><i class="fa fa-angle-right"></i>Plano de carreira</h2>
<div class="row mt">
  <div class="col-lg-12">
      <div class="content-panel">
        <div class="row mt">
                <div class="col-lg-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#forcas" aria-controls="forcas" role="tab" data-toggle="tab"><h4>Forças</h4></a></li>
                      <li role="presentation"><a href="#oportunidades" aria-controls="oportunidades" role="tab" data-toggle="tab"><h4>Oportunidades</h4></a></li>
                      <li role="presentation"><a href="#fraquezas" aria-controls="fraquezas" role="tab" data-toggle="tab"><h4>Fraquezas</h4></a></li>
                      <li role="presentation"><a href="#ameacas" aria-controls="ameacas" role="tab" data-toggle="tab"><h4>Ameaças</h4></a></li>
                      <li role="presentation"><a href="#missao" aria-controls="missao" role="tab" data-toggle="tab"><h4>Minha missão</h4></a></li>
                      <li role="presentation"><a href="#objetivos" aria-controls="objetivos" role="tab" data-toggle="tab"><h4>Objetivos</h4></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="forcas">
                          <h2>&nbsp;<i class="fa fa-angle-right"></i>Forças <%= link_to '+ ADICIONAR FORÇA', '#new_strength_modal', 'data-toggle' => 'modal', :class => "btn btn-success btn-lg" %></h2>
                          <p>&nbsp;Características e condições pessoais que poderão afetar positivamente sua carreira ou seus objetivos nos próximos anos</p>
                            <hr>
                            <div id = "strengths">
                                <%= render @strengths%>
                            </div>
                            <div class="modal fade" id="new_strength_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Criar nova Força</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'strengths/form', modal: true %>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="oportunidades">
                        <h2>&nbsp;<i class="fa fa-angle-right"></i>Oportunidades <%= link_to '+ ADICIONAR OPORTUNIDADE', '#new_opportunity_modal', 'data-toggle' => 'modal', :class => "btn btn-success btn-lg" %></h2>
                          <p>&nbsp;Eventos externos que poderão afetar positivamente sua carreira ou seus objetivos nos próximos anos</p>
                            <hr>
                            <div id = "opportunities">
                              <%= render @opportunities%>
                          </div>
                            <div class="modal fade" id="new_opportunity_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Criar nova Oportunidade</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'opportunities/form', modal: true %>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="fraquezas">
                        <h2>&nbsp;<i class="fa fa-angle-right"></i>Fraquezas <%= link_to '+ ADICIONAR FRAQUEZA', '#new_weakness_modal', 'data-toggle' => 'modal', :class => "btn btn-success btn-lg" %></h2>
                          <p>&nbsp;Características e condições pessoais que poderão afetar negativamente sua carreira ou seus objetivos nos próximos anos</p>
                            <hr>
                            <div id = "opportunities">
                              <%= render @weaknesses%>
                          </div>
                            <div class="modal fade" id="new_weakness_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Criar nova Fraqueza</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'weaknesses/form', modal: true %>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="ameacas">
                        <h2>&nbsp;<i class="fa fa-angle-right"></i>Ameaças <%= link_to '+ ADICIONAR AMEAÇA', '#new_threat_modal', 'data-toggle' => 'modal', :class => "btn btn-success btn-lg" %></h2>
                          <p>&nbsp;Eventos externos que poderão afetar negativamente sua carreira ou seus objetivos nos próximos anos</p>
                            <hr>
                            <div id = "threats">
                              <%= render @threats%>
                          </div>
                            <div class="modal fade" id="new_threat_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Criar nova ameaça</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'threats/form', modal: true %>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="missao">
                        <%= form_for(@plano) do |f| %>
                        <% if @plano.errors.any? %>
                          <div id="error_explanation">
                            <h2>&nbsp;<%= pluralize(@plano.errors.count, "error") %> prohibited this plano from being saved:</h2>

                            <ul>
                            <% @plano.errors.full_messages.each do |message| %>
                              <li><%= message  %></li>
                            <% end %>
                            </ul>
                          </div>
                        <% end %>
                        <div class="form-group">
                          <h2>&nbsp;<i class="fa fa-angle-right"></i>Minha missão</h2>
                            <p>&nbsp;Reflita sobre sua missão, a razão de ser de seus esforços e do seu emprego de seus talentos e recursos. Registre-os abaixo</p><br>
                            <label class="col-sm-1 col-sm-1 control-label">&nbsp;Minha missão</label>
                          <div class="col-sm-11">
                              <%= f.text_area :mission, :class => "form-control"%><br>
                          </div>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="objetivos">
                        <h2>&nbsp;<i class="fa fa-angle-right"></i>Objetivos <%= link_to '+ ADICIONAR OBJETIVO', '#new_objective_modal', 'data-toggle' => 'modal', :class => "btn btn-success btn-lg" %></h2>
                        <p>&nbsp;Quais os seus objetivos para o próximo ano, para daqui a cinco anos e dez anos? Reflita para isso, com base nas análises realizadas anteriormente e na missão que você definiu.</p>
                        <hr>
                        <div id = "objectives">
                            <%= render @objectives%>
                        </div>
                        <div class="modal fade" id="new_objective_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Criar novo Objetivo</h4>
                              </div>
                              <div class="modal-body">
                                <%# Render the new person form (passing modal => true to enable remote => true) %>
                                <%= render 'objectives/form', modal: true %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
        </div>
      </div>
  </div>
</div>
  <div class="row mt">
    <div class="col-lg-12">
          <div class="field">
          <%= f.label :status %>
          <%= f.select :publico, [['Raschunho', false] , ['Finalizado', true]] %>
        </div>
        <div class="actions">
          <%= f.submit ( f.object.new_record? ? "Criar plano" : "Atualizar plano"), :class => "btn btn-primary btn-lg" %>
        </div>
      <% end %>
      <%= link_to "Gerar PDF", student_area_pdf_plan_path(format: 'pdf'), :class => "btn btn-danger" %>
    </div>
  </div>