<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>

<%= javascript_include_tag "createPdf"%>
<%= javascript_include_tag "createCsv"%>

<div class="tab-pane hidden" id="chartjs">
  <div class="row mt">
    <div class="col-lg-6">
      <div class="content-panel">
        <div class="panel-body text-center">
          <div id="graphic" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
        </div>
      </div>
    </div>

  </div>
</div>


Ancoras<br>
<h2><%= @selecao %></h2>

<%= form_tag(show_by_date_results_path, method: 'post', :remote => true) do %>
    <%= hidden_field_tag "selecao", @selecao %>
    <%= select_tag(:data_final, options_for_select(@datas)) %>
    <% @results.map(&:id).each do |id| %>
      <%= hidden_field_tag "results[]", id %>
    <% end %>

<table id="tabela_resultados">
  <thead>
    <tr>
      <th>Ordem</th>
      <th>Pontuação</th>
      <th>Âncoras</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody  id="media">

  </tbody>
</table>

 <a href="#" id="export">Exportar CSV</a>

<div id='exports'>
</div>

<br>
<div id = "dados">
<h2>Alunos</h2>
<table>
  <thead>
    <tr>
      <th>Estudante</th>
      <th>Data Final</th>
      <th>Competência Técnica e Funcional</th>
      <th>Competência Administrativa Geral</th>
      <th>Autonomia e Independência</th>
      <th>Segurança e Estabilidade</th>
      <th>Criatividade Empresarial</th>
      <th>Dedicação a uma Causa</th>
      <th>Desafio Puro</th>
      <th>Estilo de Vida</th>
      <th>Âncoras Predominantes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody  id="list">

  </tbody>
</table>
</div>

<%= submit_tag "Comparar" %>
<% end %>
<br>