<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%if current_user.type == 'Administrator'%>
  <div class="field">
    <%= f.label :Disciplina %><br>
     <%= autocomplete_field_tag :subject, params[:subject], autocomplete_subject_nome_subjects_path, :id_element => '#classroom_subject_id'%>
  </div>
  <div class="field">
    <%= f.hidden_field :subject_id %>
  </div>
  <% elsif current_user.type == 'Principal'%>
      <%= f.label :Disciplina%>
      <%= f.collection_select(:subject_id, @subjects, :id, :nome)%>
  <% end %>
  <div class="field">
    <%= f.label :turno %><br>
    <%= f.text_field :turno %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

