<div class="panel panel-default">
  <div class="panel-heading">
    <h4></i>Nova turma</h4>
  </div>
      <div class="row mt">
          <div class="col-lg-12">
            <div class="panel-body">
                        <% if @classroom.errors.any? %>
             <div class="alert alert-danger alert-dismissable">
                <ul>
                <% @classroom.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
          <%= form_for(@classroom) do |f| %>
            <div class="row mt">
              <div class="col-lg-3">
                <%if current_user.type == 'Administrator'%>
              <div class="field">
                <%= f.label :Disciplina %><br>
                 <%= autocomplete_field_tag :subject, params[:subject], autocomplete_subject_nome_subjects_path, :id_element => '#classroom_subject_id'%>
              </div>
              <div class="field">
                <%= f.hidden_field :subject_id %>
              </div>
              <% elsif current_user.type != 'Administrator' %>
                  <%= f.label :Disciplina%>
                  <%= f.collection_select(:subject_id, @subjects, :id, :nome,{}, {class: "form-control"})%>
              <% end %>
              </div>
              <div class="col-lg-2">
                <div class="field">
                  <%= f.label :ano %><br>
                  <%= f.text_field :ano,class: "form-control" %>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="field">
                  <%= f.label :semestre %><br>
                  <%= f.text_field :semestre,class: "form-control" %>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="field">
                  <%= f.label :turno %><br>
                  <%= f.text_field :turno,class: "form-control" %>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="field">
                  <%= f.label :nome %><br>
                  <%= f.text_field :codigo,class: "form-control" %>
                </div>
              </div>
            </div>

    <div class="actions">
      <center><br><%= f.submit 'Cadastrar', class: "btn btn-default"   %></center>
    </div>


  <% end %>
      </div>
      </div>
      </div>
    </div>
    </div>