<h1>CoordinatorsArea#index</h1>
<h2>SAAD</h2>
<p>Bem vindo <%= current_user.nome%></p>
<%= link_to 'Procurar planos de carreira', teachers_area_search_plans_path %><br>
<%= link_to 'Criar Questionario de ancoras', new_quiz_path %><br>
<%= link_to 'Buscar resultados', search_results_path %><br>
<%= link_to 'Comparar resultados', analytics_results_path %><br>
<%= link_to 'Cria Questionario de estilos de aprendizagem', new_learning_quiz_path %><br>
<%= link_to 'Buscar resultados de estilos de aprendizagem', search_learning_results_path %><br>
<%= link_to 'Comparar resultados de estilos de aprendizagem', analytics_learning_results_path %>


<br>