<%= javascript_include_tag "coordinators_area" %>
<h1>Enviar video</h1>
<%= form_tag({ :controller => "coordinators_area", :action => "create_video"}, { :id => "form_video"}) do |f| %>
<div class="field">
    <%= label_tag :descrição %><br>
    <%= text_field_tag :description %>
  </div>
  <div class="field">
    <%= label_tag :url %><br>
    <%= text_field_tag :url %>
  </div>
<div class="field">
    <%= label_tag :Turma %>
    <%= grouped_collection_select(nil, :classroom_id, @subjects, :classrooms, :nome, :id, :codigo)%>
</div>
<div class="field">
    <%= label_tag :Usuarios %>
    <%= grouped_collection_select(nil, :users_id, @classrooms, :students, :codigo, :id, :nome)%>
</div>


<%= submit_tag "Enviar" %>
<% end %>