<h4>&nbsp;
    <%= weakness.text %> 
  <%= link_to "##{weakness.id}new_weakness_answers_modal", 'data-toggle' => 'modal', :class => "btn btn-success btn-sm", :title => "Adicionar Resposta à #{weakness.text}" do %>
          <i class="fa fa-plus" ></i>
  <% end %>
    <%= link_to  weakness, method: :delete, remote: true, data: { confirm: 'Excluindo esta fraqueza, as respostas associadas à mesa serão excluidas' }, :class => "btn btn-danger btn-sm", :title => "Deletar Fraqueza" do%>
                    <i class="fa fa-close"></i>
    <% end %>

</h4>
    <% weakness.weakness_answers.each do |answer|%>
        <label class="control-label"> &nbsp; &nbsp; &nbsp; • <%= answer.text %> <%= link_to answer, method: :delete, remote: true, data: { confirm: 'Deseja realmente excluir?' }, :class => "btn btn-danger btn-sm", :title => "Deletar Resposta" do %><i class="fa fa-close"></i>
        <% end %></label><br>
   <% end %>
    <div class="modal fade"  class="modali" id="<%= weakness.id%>new_weakness_answers_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Criar nova resposta de Fraqueza</h4>
          </div>
          <div class="modal-body">
            <%# Render the new person form (passing modal => true to enable remote => true) %>
            <%= render 'weakness_answers/form', modal: true, :locals => {:teste => weakness.id} %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <hr>