<p id="notice"><%= notice %></p>
<h2><i class="fa fa-angle-right"></i>Lista de alunos</h2>
<div class="row mt">
    <div class="col-lg-12">
      <div class="content-panel">
            <div class="row mt">
                  <div class="col-lg-12">
                    <section id="unseen">
                      <div id = "dados">
                      <table class="table table-bordered table-striped table-condensed">
                        <thead>
                          <tr>
                            <th>Foto</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Endereço</th>
                            <th>Matricula</th>
                            <th>Email</th>
                            <th>Instituição</th>
                            <th>Curso</th>
                            <!--<th>Autorizado</th>-->
                            <th colspan="2"><center>Ações</center></th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @students.each do |student| %>
                            <tr>
                              <td><center><%= image_tag student.avatar.url(:thumb), :class => "photos_users"   %></center></td>
                              <td><%= student.nome %></td>
                              <td><%= student.telefone %></td>
                              <td><%= student.endereco %></td>
                              <td><%= student.biografia %></td>
                              <td><%= student.email %></td>
                              <td><%= student.institution_id %></td>
                              <td><%= student.course_id %></td>
                              <!--<td><%= student.approved %></td>-->
                              <!--<td><%= link_to 'Visualizar', student %></td>-->
                              <td><%= link_to 'Editar', edit_student_path(student) %></td>
                              <td><%= link_to 'Excluir', student, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                      </div>
                    </section>
                  </div>
            </div>
      </div>
</div>