<h3>&nbsp;<i class="fa fa-angle-right"></i><%= objective.text %>  <%= link_to '-', objective, method: :delete, remote: true, data: { confirm: 'excluindo este objetivo, todas as estratégias serão excluídas' }, :class => "btn btn-danger", :title => "Deletar Objetivo"%></h3>
    <p><b>&nbsp;&nbsp;Prazo: </b><%= objective.data %></p>
    <h4>&nbsp;<i class="fa fa-angle-right"></i>Estratégias a <%= objective.text %> <%= link_to '+', "##{objective.id}new_strategies_modal", 'data-toggle' => 'modal', :class => "btn btn-success", :title => "Adicionar Estratégia"  %></h4>

    <% objective.strategies.each do |answer|%>
        <label class="control-label"> &nbsp; &nbsp; &nbsp; <b>Estratégia:</b> <%= answer.text %></label>
        <label> &nbsp; &nbsp; &nbsp; <%= link_to '-', answer, method: :delete, remote: true, data: { confirm: 'Excluir esta estratégia excluirá seu fator crítico e recursos associados' }, :class => "btn btn-danger btn-sm", :title => "Deletar Estratégia"%></label><br>
        <label> <b> &nbsp; &nbsp; &nbsp;Prazo:</b> <%= answer.deadline %></label><br>
        <label> <b> &nbsp; &nbsp; &nbsp;Recursos:</b> <%= answer.resource %></label><br>
        <label> <b> &nbsp; &nbsp; &nbsp;Fatores críticos:</b> <%= answer.factor %></label><br>
   <% end %>
    <div class="modal fade"  class="modali" id="<%= objective.id%>new_strategies_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Criar novo objetivo</h4>
          </div>
          <div class="modal-body">
            <%# Render the new person form (passing modal => true to enable remote => true) %>
            <%= render 'strategies/form', modal: true, :locals => {:teste => objective.id, :limit => objective.data} %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <hr>