<h2><i class="fa fa-angle-right"></i>Bem vindo ao saad</h2>
<p>Bem vindo <%= current_user.nome%></p>
<p>O Sistema de Acompanhamento da Aprendizagem do Discente – SAAD caracteriza o ambiente de aprendizagem tecnológico do Sistema de Aprendizagem em Ação para a educação em Administração, desenvolvido no Brasil, sob a coordenação do professor Anielson Barbosa da Silva, da Universidade Federal da Paraíba – UFPB, mas que possui aderência a todas as áreas da educação superior brasileira.
</p><p>O SAAD é uma plataforma online com informações pessoais e acadêmicas dos alunos, que subsidia não apenas ações de direcionamento em torno da carreira e da aprendizagem, como também dispõe de módulos que auxiliam os docentes no planejamento e operacionalização de ações voltadas para o ensino.
</p><p>Alguns recursos do SAAD envolvem a auto percepção sobre a carreira, elaboração de planos de carreira e currículo, avaliação dos estilos de aprendizagem, plataforma de casos para ensino, canal de vídeos, além do planejamento de atividades de apoio à aprendizagem, pelo professor, como por exemplo questionários de avaliação, gestão de atividades complementares, entre outros.
</p><p>Esse conjunto de informações possibilitará acompanhar todo o desenvolvimento do aluno ao longo do curso e também auxiliará os docentes na análise do perfil dos alunos e no planejamento de ações de ensino a partir de perspectivas experienciais de aprendizagem centradas no estudante.
</p><p>O desenvolvimento do SAAD é uma ação de um projeto de pesquisa que recebeu apoio financeiro do Conselho Nacional de Desenvolvimento Científico e Tecnológico – CNPq, como também do Instituto Brasileiro de Estudos e Pesquisas Sociais – IBEPES.
<%= link_to 'Procurar planos de carreira', teachers_area_search_plans_path %><br>
<%= link_to 'Criar Questionario de ancoras', new_quiz_path %><br>
<%= link_to 'Buscar resultados', search_results_path %><br>
<%= link_to 'Comparar resultados', analytics_results_path %><br>
<%= link_to 'Cria Questionario de estilos de aprendizagem', new_learning_quiz_path %><br>
<%= link_to 'Buscar resultados de estilos de aprendizagem', search_learning_results_path %><br>
<%= link_to 'Comparar resultados de estilos de aprendizagem', analytics_learning_results_path %>

<br>