<p id="notice"><%= notice %></p>
<h2><i class="fa fa-angle-right"></i>Lista de diretores</h2>
<div class="row mt">
    <div class="col-lg-12">
      <div class="content-panel">
            <div class="row mt">
                  <div class="col-lg-12">
                      <section id="unseen">
                          <div id = "dados">
                              <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                  <tr>
                                    <th>Foto</th>
                                    <th>Nome</th>
                                    <th>Telefone</th>
                                    <th>Endereço</th>
                                    <th>Biografia</th>
                                    <th>Matricula</th>
                                    <th>Email</th>
                                    <!--<th>Autorizado</th>-->
                                    <th colspan="2"><center>Ações</center></th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <% @principals.each do |principal| %>
                                    <tr>
                                      <td><center><%= image_tag principal.avatar.url(:thumb), :class => "photos_users"  %></center></td>
                                      <td><%= principal.nome %></td>
                                      <td><%= principal.telefone %></td>
                                      <td><%= principal.endereco %></td>
                                      <td><%= principal.biografia %></td>
                                      <td><%= principal.matricula %></td>
                                      <td><%= principal.email %></td>
                                      <!--<td><%= principal.approved %></td>-->
                                      <!--<td><%= link_to 'Mostrar', principal %></td>-->
                                      <td><%= link_to 'Excluir', principal, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
                                    </tr>
                                  <% end %>
                                </tbody>
                              </table>
                          </div>
                      </section>
                      <center><%= link_to 'Cadastrar diretor', new_principal_path, :class => "btn btn-primary btn-lg" %></center>
                  </div>
            </div>
      </div>
</div>