<p id="notice"><%= notice %></p>
<div class="row mt">
  <div class="col-lg-12">
      <div class="content-panel">
      <h4><i class="fa fa-angle-right"></i>Centros</h4>
        <div class="row mt">
                <div class="col-lg-12">
                      <div>
                          <div class="unseen">
                            <div class="dados">
                          <table class="table table-bordered table-striped table-condensed">
                            <thead>
                              <tr>
                                <th>Nome</th>
                                <th>campus</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% if @centers.size > 0 %>
                              <% @centers.each do |center| %>
                                <tr>
                                  <td><%= center.name %></td>
                                  <td><%= center.campu.name %> </td>
                                  <td><center><%= button_to 'Abrir', center, :class => "btn btn-primary btn-sm", method: :get%></center></td>
                                  <% if current_user.type == 'Administrator'%>
                                  <td><%= link_to 'Edit', edit_center_path(center) %></td>
                                  <td><%= link_to 'Destroy', center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                  <% end %>
                                </tr>
                              <% end %>
                              <% end %>
                            </tbody>
                          </table>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br>
