<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>
<%= javascript_include_tag "createPdf"%>
<%= javascript_include_tag "createCsv"%>
<h2><i class="fa fa-angle-right"></i>Comparar âncoras de carreira</h2>
<p>Agora que você selecionou o(s) aluno(s), selecione as datas para realizar a comparação</p>
<div class="row mt">
    <div class="col-lg-12">
      <div class="content-panel">
            <div class="row mt">
                <div class="col-lg-6">
                      <%= form_tag(compare_by_date_results_path, method: 'post', :remote => true) do %>
                      <h3><%= @selecao %></h3>
                      <%= hidden_field_tag "selecao", @selecao %>
                      <%= select_tag(:data_final, options_for_select(@datas)) %>
                      <% @results.map(&:id).each do |id| %>
                      <%= hidden_field_tag "results[]", id %>
                      <% end %>
                </div>
                <div class="col-lg-6">
                    <h3><%= @selecao2 %></h3>
                      <%= hidden_field_tag "selecao2", @selecao2 %>
                      <%= select_tag(:data_final2, options_for_select(@datas2)) %>
                      <% @results2.map(&:id).each do |id| %>
                      <%= hidden_field_tag "results2[]", id %>
                      <% end %>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-12">
                  <center><%= submit_tag "Comparar", :class => "btn btn-primary btn-lg" %></center>
                  <% end %>
                </div>
            </div>
            <div class="row mt">
                  <div class="col-lg-6">
                      <h4><i class="fa fa-angle-right"></i> <%= @selecao %></h4>
                      <section id="unseen">
                        <table id="tabela_resultados" class="table table-bordered table-striped table-condensed">
                          <thead>
                            <tr>
                              <th>Ordem</th>
                              <th>Pontuação</th>
                              <th>Âncoras</th>
                            </tr>
                          </thead>
                          <tbody  id="media"></tbody>
                        </table>
                      </section>
                  </div>
                  <div class="col-lg-6">
                      <h4><i class="fa fa-angle-right"></i> <%= @selecao2 %></h4>
                      <section id="unseen">
                      <table id="tabela_resultados2" class="table table-bordered table-striped table-condensed">
                        <thead>
                          <tr>
                            <th>Ordem</th>
                            <th>Pontuação</th>
                            <th>Âncoras Predominantes</th>
                          </tr>
                      </thead>
                      <tbody  id="media2"></tbody>
                    </table>
                  </section>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-12">
                      <div id="graphic"></div>
                </div>
            </div>
      </div>
    </div>
</div>