<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>

<%= javascript_include_tag "createPdf"%>
<%= javascript_include_tag "createCsv"%>

<div id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
<%= form_tag(compare_by_date_results_path, method: 'post', :remote => true) do %>
  <h2>Ancoras</h2>
  <%= select_tag(:data_final, options_for_select(@datas)) %>
  <% @results.map(&:id).each do |id| %>
    <%= hidden_field_tag "results[]", id %>
  <% end %>

  <table id="tabela_resultados">
    <thead>
      <tr>
        <th>Ordem</th>
        <th>Pontuação</th>
        <th>Âncoras</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody  id="media">

    </tbody>
  </table>


  <br>
  <div id = "dados">
  <h2>Alunos seleção 1</h2>
  <table>
    <thead>
      <tr>
        <th>Estudante</th>
        <th>Data Final</th>
        <th>Tf</th>
        <th>Gm</th>
        <th>Au</th>
        <th>Se</th>
        <th>Ec</th>
        <th>Sv</th>
        <th>Ch</th>
        <th>Ls</th>
        <th>Âncoras</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody  id="list">

    </tbody>
  </table>
  </div>

  <br>

  <h2>Ancoras2</h2>
  <%= select_tag(:data_final2, options_for_select(@datas2)) %>
  <% @results2.map(&:id).each do |id| %>
    <%= hidden_field_tag "results2[]", id %>
  <% end %>
  <table id="tabela_resultados2">
    <thead>
      <tr>
        <th>Ordem</th>
        <th>Pontuação</th>
        <th>Âncoras</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody  id="media2">

    </tbody>
  </table>

  <br>
  <div id = "dados2">
  <h2>Alunos seleção 1</h2>
  <table>
    <thead>
      <tr>
        <th>Estudante</th>
        <th>Data Final</th>
        <th>Tf</th>
        <th>Gm</th>
        <th>Au</th>
        <th>Se</th>
        <th>Ec</th>
        <th>Sv</th>
        <th>Ch</th>
        <th>Ls</th>
        <th>Âncoras</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody  id="list2">

    </tbody>
  </table>
  </div>
<%= submit_tag "Comparar" %>
<% end %>
<br>