<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>

<%= javascript_include_tag "createPdf"%>
<%= javascript_include_tag "createCsv"%>

    <div class="tab-pane hidden" id="chartjs">
      <div class="row mt">
        <div class="col-lg-6">
          <div class="content-panel">
            <div class="panel-body text-center">
              <div id="graphic" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
Ancoras<br>
<h2><%= @selecao %></h2>

<% @datas.each do |data| %>
<%= link_to "#{data}", show_by_date_results_path(:data_final => data, :results => @results, :selecao => @selecao) ,remote: true, :method => :post%><br>
<% end %>

<div class="row mt">
  <div class="col-lg-12">
      <h4><i class="fa fa-angle-right"></i> <%= @selecao %></h4>
      <section id="unseen">
<table id="tabela_resultados" class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Ordem</th>
      <th>Pontuação</th>
      <th>Âncoras</th>
    </tr>
  </thead>
  </section>
  </div>
  </div>

  <tbody  id="media">

  </tbody>
</table>

 <a href="#" id="export">Exportar CSV</a>

<div id='exports'>
</div>

<div class="row mt">
  <div class="col-lg-6">
      <h4><i class="fa fa-angle-right"></i> <%= @selecao %></h4>
      <section id="unseen">
        <div id = "dados">
        <table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Data Final</th>
      <th>Competência Técnica e Funcional</th>
      <th>Competência Administrativa Geral</th>
      <th>Autonomia e Independência</th>
      <th>Segurança e Estabilidade</th>
      <th>Criatividade Empresarial</th>
      <th>Dedicação a uma Causa</th>
      <th>Desafio Puro</th>
      <th>Estilo de Vida</th>
      <th>Âncoras Predominantes</th>
    </tr>
  </thead>

  <tbody  id="list">

  </tbody>
</table>
</div>
  </section>
  </div>
  </div>

<br>