<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2><i class="fa fa-angle-right"></i>Cadastrar Eventos</h2>
<div class="row mt">
    <div class="col-lg-12">
      <div class="content-panel">
            <div class="row mt">
                <div class="col-lg-6">
                      <div class="campo_compare">
                        <%= f.label :nome %><br>
                        <%= f.text_field :nome %>
                      </div>
                      <div class="campo_compare">
                        <%= f.label :apresentacao %><br>
                        <%= f.text_area :apresentacao %>
                      </div>
                      <div class="campo_compare">
                        <%= f.label :objetivos %><br>
                        <%= f.text_area :objetivos %>
                      </div>
                      <div class="campo_compare">
                        <%= f.label :informações %><br>
                        <%= f.text_area :informacoes %>
                      </div>
                  </div>
                  <div class="col-lg-6">
                  <div class="campo_compare">
                        <%= f.label :carga_horária %><br>
                        <%= f.number_field :ch %>
                      </div>
                      <div class="campo_compare">
                        <%= f.label :inicio %><br>
                        <%= f.date_select :inicio %>
                      </div>
                      <div class="campo_compare">
                        <%= f.label :fim %><br>
                        <%= f.date_select :fim %>
                      </div>
                      <div class="campo_compare">
                        <%= f.label :local %><br>
                        <%= f.text_field :local %>
                      </div>
                      <div class="campo_compare">
                        <%= f.label :Submissões_de_trabalhos %>
                        <%= f.check_box :submissao %>
                      </div>
                  </div>
            </div>
            <div class="row mt">
                  <div class="col-lg-12">
                      <div id= "extra">
                            <div class="campo_compare">
                            <%= f.label :tipo_de_trabalhos %><br>
                            <%= f.text_field :trabalhos %>
                          </div>
                            <div class="campo_compare">
                            <%= f.label :deadline %><br>
                            <%= f.date_select :deadline %>
                          </div>
                            <div class="campo_compare">
                            <%= f.label :normas %><br>
                            <%= f.text_area :normas %>
                          </div>
                      </div>
                </div>
            </div>
            <div class="row mt">
                  <div class="col-lg-12">
                        <div class="actions">
                            <center><%= f.submit "Cadastrar", :class => "btn btn-primary btn-lg"  %></center>
                          </div>
                        <% end %>
                  </div>
            </div>
        </div>
    </div>
</div>