<%= javascript_include_tag "application", params[:controller] %>
<%= link_to 'Voltar', public_events_events_path %>
<p>
  <strong>Nome:</strong>
  <%= @event.nome %>
</p>

<p>
  <strong>Apresentacao:</strong>
  <%= @event.apresentacao %>
</p>

<p>
  <strong>Objetivos:</strong>
  <%= @event.objetivos %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @event.inicio.strftime("%-d/%-m/%y às %H:%M") %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @event.fim.strftime("%-d/%-m/%y às %H:%M") %>
</p>

<p>
  <strong>Normas</strong>
  <%= @event.normas %>
</p>

<p>
  <strong>Deadline</strong>
  <%= @event.deadline.strftime("%-d/%-m/%y: %H:%M") %>
</p>

<p>
  <strong>Trabalhos</strong>
  <%= @event.trabalhos %>
</p>

<p>
  <strong>Criado por:</strong>
  <%= @event.user.nome %>
</p>

<%if @event.submissao == true %>
  <a href="#" class="add_button">Submeter Trabalho</a>
  <div class="note_div">
      <h2>Envio de trabalho</h2>
      <%= render 'projects/form'%>
  </div>
<% end %>


