        <h3>&nbsp;<i class="fa fa-angle-right"></i><%= threat.text %> <%= link_to '-', threat, method: :delete, remote: true, data: { confirm: 'Excluindo esta ameaça, as respostas associadas à mesma serão excluidas' }, :class => "btn btn-danger", :title => "Deletar Ameaça"%></h3>

    <h4>&nbsp;<i class="fa fa-angle-right"></i>Respostas a <%= threat.text %> <%= link_to '+', "##{threat.id}new_threat_answers_modal", 'data-toggle' => 'modal', :class => "btn btn-success", :title => "Adicionar Resposta" %></h4>

    <% threat.threats_answers.each do |answer|%>
        <label class="control-label"> &nbsp; &nbsp; &nbsp; • <%= answer.text %> <%= link_to '-', answer, method: :delete, remote: true, data: { confirm: 'Deseja realmente excluir?' }, :class => "btn btn-danger btn-sm", :title => "Deletar Resposta"%></label><br>
   <% end %>
    <div class="modal fade"  class="modali" id="<%= threat.id%>new_threat_answers_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Criar nova resposta de ameaça</h4>
          </div>
          <div class="modal-body">
            <%# Render the new person form (passing modal => true to enable remote => true) %>
            <%= render 'threats_answers/form', modal: true, :locals => {:teste => threat.id} %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <hr>