<%= form_for(@learning_result) do |f| %>
  <% if @learning_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@learning_result.errors.count, "error") %> prohibited this learning_result from being saved:</h2>

      <ul>
      <% @learning_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <strong>Enquanto aprendo: </strong>
    <%= number_field_tag 'q1a', nil, min: 1, max: 4 %>
    <%= label_tag("Gosto de lidar com meus sentimentos")%>
    <%= number_field_tag 'q1b', nil, min: 1, max: 4 %>
    <%= label_tag("Gosto de pensar sobre ideias")%>
    <%= number_field_tag 'q1c', nil, min: 1, max: 4 %>
    <%= label_tag("Gosto de estar fazendo coisas")%>
    <%= number_field_tag 'q1d', nil, min: 1, max: 4 %>
    <%= label_tag("Gosto de observar e escutar")%>
  </div>
  <div class="field">
    <strong>Aprendo melhor quando: </strong>
    <%= number_field_tag 'q2a', nil, min: 1, max: 4 %>
    <%= label_tag("Ouço e observo com atenção")%>
    <%= number_field_tag 'q2b', nil, min: 1, max: 4 %>
    <%= label_tag("Me apóio em pensamento lógico")%>
    <%= number_field_tag 'q2c', nil, min: 1, max: 4 %>
    <%= label_tag("Confio em meus palpites e impressões")%>
    <%= number_field_tag 'q2d', nil, min: 1, max: 4 %>
    <%= label_tag("Trabalho com afinco para executar a tarefa")%>

  </div>
  <div class="field">
    <strong>Quando estou aprendendo: </strong>
    <%= number_field_tag 'q3a', nil, min: 1, max: 4 %>
    <%= label_tag("Tendo a buscar explicações para as coisas")%>
    <%= number_field_tag 'q3b', nil, min: 1, max: 4 %>
    <%= label_tag("Sou responsável acerca das coisas")%>
    <%= number_field_tag 'q3c', nil, min: 1, max: 4 %>
    <%= label_tag("Fico quieto e concentrado")%>
    <%= number_field_tag 'q3d', nil, min: 1, max: 4 %>
    <%= label_tag("Tenho sentimentos e reações fortes")%>
  </div>
  <div class="field">
    <strong>Aprendo: </strong>
    <%= number_field_tag 'q4a', nil, min: 1, max: 4 %>
    <%= label_tag("Sentindo")%>
    <%= number_field_tag 'q4b', nil, min: 1, max: 4 %>
    <%= label_tag("Fazendo")%>
    <%= number_field_tag 'q4c', nil, min: 1, max: 4 %>
    <%= label_tag("Observando")%>
    <%= number_field_tag 'q4d', nil, min: 1, max: 4 %>
    <%= label_tag("Pensando")%>
  </div>
  <div class="field">
  <strong>Enquanto aprendo</strong>
    <%= number_field_tag 'q5a', nil, min: 1, max: 4 %>
    <%= label_tag("Me abro a novas experiências")%>
    <%= number_field_tag 'q5b', nil, min: 1, max: 4 %>
    <%= label_tag("Examino todos os ângulos da questão")%>
    <%= number_field_tag 'q5c', nil, min: 1, max: 4 %>
    <%= label_tag("Gosto de analisar as coisas, desdobrá-las em partes")%>
    <%= number_field_tag 'q5d', nil, min: 1, max: 4 %>
    <%= label_tag("Gosto de testar as coisas")%>
  </div>
  <div class="field">
    <strong>Enquanto estou aprendendo: </strong>
    <%= number_field_tag 'q6a', nil, min: 1, max: 4 %>
    <%= label_tag("Sou uma pessoa observadora")%>
    <%= number_field_tag 'q6b', nil, min: 1, max: 4 %>
    <%= label_tag("Sou uma pessoa ativa")%>
    <%= number_field_tag 'q6c', nil, min: 1, max: 4 %>
    <%= label_tag("Sou uma pessoa intuitiva")%>
    <%= number_field_tag 'q6d', nil, min: 1, max: 4 %>
    <%= label_tag("Sou uma pessoa lógica")%>
  </div>
  <div class="field">
    <strong>Aprendo melhor através de: </strong>
    <%= number_field_tag 'q7a', nil, min: 1, max: 4 %>
    <%= label_tag("Observação")%>
    <%= number_field_tag 'q7b', nil, min: 1, max: 4 %>
    <%= label_tag("Interações pessoais")%>
    <%= number_field_tag 'q7c', nil, min: 1, max: 4 %>
    <%= label_tag("Teorias racionais")%>
    <%= number_field_tag 'q7d', nil, min: 1, max: 4 %>
    <%= label_tag("Oportunidades para experimentar e praticar")%>
  </div>
  <div class="field">
    <strong>Enquanto aprendo: </strong>
    <%= number_field_tag 'q8a', nil, min: 1, max: 4 %>
    <%= label_tag("Gosto de ver os resultados de meu trabalho")%>
    <%= number_field_tag 'q8b', nil, min: 1, max: 4 %>
    <%= label_tag("Gosto de ideias e teorias")%>
    <%= number_field_tag 'q8c', nil, min: 1, max: 4 %>
    <%= label_tag("Penso antes de agir")%>
    <%= number_field_tag 'q8d', nil, min: 1, max: 4 %>
    <%= label_tag("Sinto-me pessoalmente envolvido no assunto")%>
  </div>
  <div class="field">
  <strong>Aprendo melhor quando: </strong>
    <%= number_field_tag 'q9a', nil, min: 1, max: 4 %>
    <%= label_tag("Me apóio em minhas observações")%>
    <%= number_field_tag 'q9b', nil, min: 1, max: 4 %>
    <%= label_tag("Me apóio em minhas impressões")%>
    <%= number_field_tag 'q9c', nil, min: 1, max: 4 %>
    <%= label_tag("Posso experimentar coisas por mim mesmo")%>
    <%= number_field_tag 'q9d', nil, min: 1, max: 4 %>
    <%= label_tag("Me apóio em minhas ideias")%>
  </div>
  <div class="field">
  <strong>Quando estou aprendendo: </strong>
    <%= number_field_tag 'q10a', nil, min: 1, max: 4 %>
    <%= label_tag("Sou uma pessoa compenetrada")%>
    <%= number_field_tag 'q10b', nil, min: 1, max: 4 %>
    <%= label_tag("Sou uma pessoa flexível")%>
    <%= number_field_tag 'q10c', nil, min: 1, max: 4 %>
    <%= label_tag("Sou uma pessoa responsável")%>
    <%= number_field_tag 'q10d', nil, min: 1, max: 4 %>
    <%= label_tag("Sou uma pessoa racional")%>
  </div>
  <div class="field">
  <strong>Enquanto aprendo: </strong>
    <%= number_field_tag 'q11a', nil, min: 1, max: 4 %>
    <%= label_tag("Me envolvo todo")%>
    <%= number_field_tag 'q11b', nil, min: 1, max: 4 %>
    <%= label_tag("Gosto de observar")%>
    <%= number_field_tag 'q11c', nil, min: 1, max: 4 %>
    <%= label_tag("Avalio as coisas")%>
    <%= number_field_tag 'q11d', nil, min: 1, max: 4 %>
    <%= label_tag("Gosto de estar ativo")%>
  </div>
  <div class="field">
  <strong>Aprendo melhor quando: </strong>
    <%= number_field_tag 'q12a', nil, min: 1, max: 4 %>
    <%= label_tag("Analiso as ideias")%>
    <%= number_field_tag 'q12b', nil, min: 1, max: 4 %>
    <%= label_tag("Sou receptivo e de mente aberta")%>
    <%= number_field_tag 'q12c', nil, min: 1, max: 4 %>
    <%= label_tag("Sou cuidadoso")%>
    <%= number_field_tag 'q12d', nil, min: 1, max: 4 %>
    <%= label_tag("Sou prático")%>
  </div>

  <div class="field">
    <%= hidden_field_tag :data_final, @data_final %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar"%>
  </div>
<% end %>
