<tr>
    <td><%= learning_result.user.nome %></td>
    <td><%= learning_result.data_final %></td>
    <td><%= (learning_result.ec / 0.48).round(2) %></td>
    <td><%= (learning_result.or  / 0.48).round(2)%></td>
    <td><%= (learning_result.ca  / 0.48).round(2)%></td>
    <td><%= (learning_result.ea  / 0.48).round(2) %></td>
    <td>
    </td>
</tr>
