<tr>
    <td><%= learning_result.user.nome %></td>
    <td><%= learning_result.data_final %></td>
    <td><%= learning_result.ec.round(2) %></td>
    <td><%= learning_result.or.round(2)%></td>
    <td><%= learning_result.ca.round(2)%></td>
    <td><%= learning_result.ea.round(2) %></td>
    <td>
    </td>
</tr>
