<tr>
    <td><%= learning_result.user.nome %></td>
    <td><%= learning_result.data_final %></td>
    <td><%= learning_result.ec %></td>
    <td><%= learning_result.or %></td>
    <td><%= learning_result.ca %></td>
    <td><%= learning_result.ea %></td>
    <td>
    </td>
</tr>