<%= javascript_include_tag 'search_learning' %>
<div class="panel panel-default">
  <div class="panel-heading">
    <center><h4></i>Comparar estilos de aprendizagem</h4></center>
  </div>
      <div class="row mt">
          <div class="col-lg-12">
          <div class="panel-body">         
           <div class="col-lg-6">
        <%= form_tag({ :controller => "learning_results", :action => "analytic_list"}, { :id => "form2"}) do |f| %>
        <div class="field">
                  <h4>Seleção 1:</h4>
                  <%= hidden_field_tag :institution_id, @institution.id %>

                  <%= hidden_field_tag :campu_id, @campu.id %>

                  <%= hidden_field_tag :center_id, @center.id %>

                  <%= hidden_field_tag :course_id, @course.id %>

                  <div class="form-group">
                        <%= label_tag :Disciplina %>
                        <%= collection_select(nil, :subject_id, @subjects, :id, :nome,{}, {class: "form-control"})%>
                    </div>
                  <div class="form-group">
                    <%= label_tag :ano %>
                    <%= select_tag "ano", options_for_select(@anos), :class => "form-control"%>
                    </div>
                  <div class="form-group">
                    <%= label_tag :semestre %>
                    <%= select_tag "semestre", options_for_select(@semestres), :class => "form-control"%>
                    </div>
                  <div class="form-group">
                    <%= label_tag :Turma %>
                    <%= collection_select(nil, :classroom_id, @classrooms, :id, :codigo,{}, {class: "form-control"})%>
                    </div>
                    <div class="form-group">
                    <%= label_tag :Usuarios %>
                    <%= collection_select(nil, :users_id, @students, :id, :nome,{}, {class: "form-control"})%>
          </div>
                  </div>
              </div>
              <div class="col-lg-6">
                <h4>Seleção 2:</h4>
                <div class="field">
                  <%= hidden_field_tag :institution2_id, @institution.id %>

                  <%= hidden_field_tag :campu2_id, @campu.id %>

                  <%= hidden_field_tag :center2_id, @center.id %>

                  <%= hidden_field_tag :course2_id, @course.id %>

                  <div class="form-group">
                        <%= label_tag :Disciplina %>
                        <%= collection_select(nil, :subject2_id, @subjects, :id, :nome,{}, {class: "form-control"})%>
                    </div>
                  <div class="form-group">
                    <%= label_tag :ano %>
                    <%= select_tag "ano2", options_for_select(@anos), :class => "form-control"%>
                    </div>
                  <div class="form-group">
                    <%= label_tag :semestre %>
                    <%= select_tag "semestre2", options_for_select(@semestres), :class => "form-control"%>
                    </div>
                  <div class="form-group">
                    <%= label_tag :Turma %>
                    <%= collection_select(nil, :classroom2_id, @classrooms, :id, :codigo,{}, {class: "form-control"})%>
                    </div>
                  <div class="form-group">
                    <%= label_tag :Usuarios %>
                    <%= collection_select(nil, :users2_id, @students, :id, :nome,{}, {class: "form-control"})%>
          </div>
                </div>
              </div>
            </div> <br>
            <center><%= submit_tag "Comparar", class: "btn btn-default" %></center>
            </br>

    <% end %>

    </div>
    </div>
    </div>