<%= form_tag({ :controller => "learning_results", :action => "list"}, { :id => "form2"}) do |f| %>
<div class="field">

    <%= hidden_field_tag :institution_id, @institution.id %>

    <%= hidden_field_tag :campu_id, @campu.id %>

    <%= hidden_field_tag :center_id, @center.id %>

    <%= hidden_field_tag :course_id, @course.id %>

    <%= label_tag :Disciplina %>
    <%= collection_select(nil, :subject_id, @subjects, :id, :nome)%>

    <%= label_tag :Turma %>
    <%= collection_select(nil, :classroom_id, @classrooms, :id, :codigo)%>

    <%= label_tag :Alunos %>
    <%= collection_select(nil, :users_id, @students, :id, :nome)%>
  </div>
<%= submit_tag "Enviar" %>
<% end %>