<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>

<%= javascript_include_tag "createCsv"%>

<div id="graphic" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
<div id="graphic2" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
<%= form_tag(show_by_date_learning_results_path, method: 'post', :remote => true) do %>
  <%= hidden_field_tag "selecao", @selecao %>
  <%= select_tag(:data_final, options_for_select(@datas)) %>
  <% @results.map(&:id).each do |id| %>
    <%= hidden_field_tag "results[]", id %>
  <% end %>

<a href="#" id="export">Exportar CSV</a>

<div id='exports'>
</div>

<div class="row mt">
  <div class="col-lg-12">
      <h4><i class="fa fa-angle-right"></i> <%= @selecao %></h4>
      <section id="unseen">
        <div id = "dados">
        <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
      <th>User</th>
      <th>Data final</th>
      <th>Instituição</th>
      <th>Campus</th>
      <th>Centro</th>
      <th>Curso</th>
      <th>Ec</th>
      <th>Or</th>
      <th>Ca</th>
      <th>Ea</th>
      <th>q1a</th>
      <th>q1b</th>
      <th>q1c</th>
      <th>q1d</th>
      <th>q2a</th>
      <th>q2b</th>
      <th>q2c</th>
      <th>q2d</th>
      <th>q3a</th>
      <th>q3b</th>
      <th>q3c</th>
      <th>q3d</th>
      <th>q4a</th>
      <th>q4b</th>
      <th>q4c</th>
      <th>q4d</th>
      <th>q5a</th>
      <th>q5b</th>
      <th>q5c</th>
      <th>q5d</th>
      <th>q6a</th>
      <th>q6b</th>
      <th>q6c</th>
      <th>q6d</th>
      <th>q7a</th>
      <th>q7b</th>
      <th>q7c</th>
      <th>q7d</th>
      <th>q8a</th>
      <th>q8b</th>
      <th>q8c</th>
      <th>q8d</th>
      <th>q9a</th>
      <th>q9b</th>
      <th>q9c</th>
      <th>q9d</th>
      <th>q10a</th>
      <th>q10b</th>
      <th>q10c</th>
      <th>q10d</th>
      <th>q11a</th>
      <th>q11b</th>
      <th>q11c</th>
      <th>q11d</th>
      <th>q12a</th>
      <th>q12b</th>
      <th>q12c</th>
      <th>q12d</th>
      <th colspan="3"></th>
      </tr>
    </thead>

    <tbody  id="list">

    </tbody>
  </table>
  </div>
  </section>
  </div>
  </div>

  <br>

<%= submit_tag "Ver" %>
<% end %>
<br>