  <div class="panel panel-default">
    <div class="panel-heading">
        <center><h4>Disciplina</h4></center>
    </div>
    <div class="panel-body">
        <center><h4><b>Informações</b></h4></center>
        <h5><b>Nome: </b><%= @subject.nome %></h5>
        <h5><b>Carga Horaria: </b><%= @subject.ch %>, <b>Código: </b> <%= @subject.codigo %>, <b>Curso: </b> <%= @subject.course.nome %></h5>
        <h5><b>Ementa:</b><%= @subject.ementa %></h5>
        <br>

        <center><h4><b>Turmas Vinculadas</b></h4></center>
        <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Turma</th>
            <th>Turno</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @subject.classrooms.each do |classroom| %>
            <tr>
              <td><%= classroom.codigo %></td>
              <td><%= classroom.turno%></td>
              <td><center><%= button_to 'Ver', classroom, :class => "btn btn-primary btn-login btn-sm", method: :get%></center></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      </div>
    </div>
  </div>

 