<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(OpportunityAnswer.new, remote: remote, html: {role: :form, 'data-model' => 'opportunity_answer'}) do |f| %>

  <div class="field">
    <%= f.label :resposta, class: 'control-label' %><br>
    <%= f.text_field :text, class: 'control-label'  %>
    <span class="help-block"></span>
  </div>
  <div class="field">
    <%= f.hidden_field :opportunity_id, :value => locals[:teste] %>
  </div>
  <div class="actions">
    <%= f.submit "responder oportunidade"%>
  </div>
<% end %>
