<p id="notice"><%= notice %></p>

<p>
  <strong>Study case:</strong>
  <%= @line_case.study_case %>
</p>

<p>
  <strong>User:</strong>
  <%= @line_case.user %>
</p>

<p>
  <strong>Data final:</strong>
  <%= @line_case.data_final %>
</p>

<p>
  <strong>Question:</strong>
  <%= @line_case.question %>
</p>

<%= link_to 'Edit', edit_line_case_path(@line_case) %> |
<%= link_to 'Back', line_cases_path %>
