<p id="notice"><%= notice %></p>
<h2><i class="fa fa-angle-right"></i>Lista de administradores</h2>
<div class="row mt">
    <div class="col-lg-12">
      <div class="content-panel">
            <div class="row mt">
                  <div class="col-lg-12">
                      <section id="unseen">
                          <div id = "dados">
                          <table class="table table-bordered table-striped table-condensed">
                            <thead>
                              <tr>
                                <!--<th>Foto</th>-->
                                <th>Nome</th>
                                <th>Telefone</th>
                                <th>Endereço</th>
                                <!--<th>Biografia</th>
                                <th>Matricula</th>-->
                                <th>Email</th>
                                <!--<th>Autorizado</th>-->
                                <th colspan="2"><center>Ações</center></th>
                              </tr>
                            </thead>
                            <tbody>
                              <% @administrators.each do |administrator| %>
                                <tr>
                                  <!--<td><%= image_tag administrator.avatar.url(:thumb) %></td>-->
                                  <td><%= administrator.nome %></td>
                                  <td><%= administrator.telefone %></td>
                                  <td><%= administrator.endereco %></td>
                                  <!--<td><%= administrator.biografia %></td>
                                  <td><%= administrator.matricula %></td>-->
                                  <td><%= administrator.email %></td>
                                  <!--<td><%= administrator.approved %></td>-->

                                  <td><%= link_to 'Excluir', administrator, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                      </div>
                    </section>
                  <center><%= link_to 'Cadastrar administrador', new_administrator_path, :class => "btn btn-primary btn-lg" %></center>
                </div>
            </div>
      </div>
</div>