<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :data_abertura %><br>
    <%= f.date_select :data_abertura %>
  </div>
  <div class="field">
    <%= f.label :turno %><br>
    <%= f.text_field :turno %>
  </div>
  <%if current_user.type == 'Administrator'%>
  <%= label_tag :center %><br>
    <%= autocomplete_field_tag :center, params[:center], autocomplete_center_name_centers_path, :id_element => '#course_center_id'%>
  </div>

  <div class="field">
    <%= f.hidden_field :center_id %>
  </div>
<%elsif current_user.type == 'Principal' %>
  <div class="field">
  <%= f.collection_select(:center_id, @centers, :id, :name)%>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
