<div class="row">
  <div class="col-lg-9">
    <div class="col-lg-3">
      <img  src="/assets/saad.png" class="img-responsive">
    </div>
    <div class="col-lg-9">
      <h2>Bem vindo ao SAAD <%= current_user.nome%></h2>
      <p>O Sistema de Acompanhamento da Aprendizagem do Discente – SAAD caracteriza o ambiente de aprendizagem tecnológico do Sistema de Aprendizagem em Ação para a educação em Administração, desenvolvido no Brasil, sob a coordenação do professor Anielson Barbosa da Silva, da Universidade Federal da Paraíba – UFPB, mas que possui aderência a todas as áreas da educação superior brasileira.
</p><p>O SAAD é uma plataforma online com informações pessoais e acadêmicas dos alunos, que subsidia não apenas ações de direcionamento em torno da carreira e da aprendizagem, como também dispõe de módulos que auxiliam os docentes no planejamento e operacionalização de ações voltadas para o ensino.
</p><p>Alguns recursos do SAAD envolvem a auto percepção sobre a carreira, elaboração de planos de carreira e currículo, avaliação dos estilos de aprendizagem, plataforma de casos para ensino, canal de vídeos, além do planejamento de atividades de apoio à aprendizagem, pelo professor, como por exemplo questionários de avaliação, gestão de atividades complementares, entre outros.
</p><p>Esse conjunto de informações possibilitará acompanhar todo o desenvolvimento do aluno ao longo do curso e também auxiliará os docentes na análise do perfil dos alunos e no planejamento de ações de ensino a partir de perspectivas experienciais de aprendizagem centradas no estudante.
</p><p>O desenvolvimento do SAAD é uma ação de um projeto de pesquisa que recebeu apoio financeiro do Conselho Nacional de Desenvolvimento Científico e Tecnológico – CNPq, como também do Instituto Brasileiro de Estudos e Pesquisas Sociais – IBEPES.
      <% if @my_quizzes != nil && @my_quizzes.size > 0%>
  <div class="alert alert-warning">
    <p>Voce tem Questionarios para responder, clique nas datas</p>
      <% @my_quizzes.each do |quiz| %>
        <%= link_to "#{quiz.data_final}", quiz_index_path(:data_final => quiz.data_final) %><br>
      <% end %>
  </div>
<% end %>

<% if @my_learning_quizzes != nil && @my_learning_quizzes.size > 0%>
  <div class="alert alert-info">
    <p>Voce tem Questionarios de estilo de aprendizagem para responder, clique nas datas</p>
      <% @my_learning_quizzes.each do |quiz| %>
        <%= link_to "#{quiz.data_final}", new_learning_result_path(:data_final => quiz.data_final) %><br>
      <% end %>
  </div>
<% end %>
    </div>
  </div>
  <!-- *********************************************************************************** -->
  <div class="col-lg-3 ds">
    <!--COMPLETED ACTIONS DONUTS CHART-->
    <h3> Questionarios </h3>
    <% if @my_quizzes != nil && @my_quizzes.size > 0%>
    <br>
    <h4 class="text-center">Voce tem Questionario de Âncoras de Carreira para responder, clique nas datas</h4>
      <% @my_quizzes.each do |quiz| %>
        <div class="desc">
          <div class="thumb">
            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
            <p>
              <%= link_to "#{quiz.data_final}", quiz_index_path(:data_final => quiz.data_final) %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
    <hr>
    <% if @my_learning_quizzes != nil && @my_learning_quizzes.size > 0%>
        <br>
        <h4 class="text-center">Voce tem Questionarios de estilo de aprendizagem para responder, clique nas datas</h4>
        <% @my_learning_quizzes.each do |quiz| %>
            <div class="desc">
              <div class="thumb">
                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
              </div>
              <div class="details">
                <p>
                  <%= link_to "#{quiz.data_final}", new_learning_result_path(:data_final => quiz.data_final) %><br>
                </p>
              </div>
            </div>
        <% end %>
    <% end %>

    <hr>

    <h4><i class="fa fa-angle-right"></i> Minhas Turmas</h4><hr><table class="table table-hover">
    <thead>
    <tr>
      <th>Disciplina</th>
      <th>Turno</th>
      <th>Codigo</th>
    </tr>
    </thead>
    <tbody>
    <% @classrooms.each do |classroom| %>
        <tr>
          <td><%= classroom.subject.nome %></td>
          <td><%= classroom.turno %></td>
          <td><%= classroom.codigo %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>

<!--
<p>Bem vindo <%= current_user.nome%></p>
<%= link_to 'Procurar planos de carreira', teachers_area_search_plans_path %><br>
<%= link_to 'Criar Questionario de ancoras', new_quiz_path %><br>
<%= link_to 'Buscar resultados', search_results_path %><br>
<%= link_to 'Comparar resultados', analytics_results_path %><br>
<%= link_to 'Cria Questionario de estilos de aprendizagem', new_learning_quiz_path %><br>
<%= link_to 'Buscar resultados de estilos de aprendizagem', search_learning_results_path %><br>
<%= link_to 'Comparar resultados de estilos de aprendizagem', analytics_learning_results_path %>

<% if @my_quizzes != nil && @my_quizzes.size > 0%>
  <div class="alert alert-warning">
    <p>Voce tem Questionarios para responder, clique nas datas</p>
      <% @my_quizzes.each do |quiz| %>
        <%= link_to "#{quiz.data_final}", quiz_index_path(:data_final => quiz.data_final) %><br>
      <% end %>
  </div>
<% end %>

<% if @my_learning_quizzes != nil && @my_learning_quizzes.size > 0%>
  <div class="alert alert-info">
    <p>Voce tem Questionarios de estilo de aprendizagem para responder, clique nas datas</p>
      <% @my_learning_quizzes.each do |quiz| %>
        <%= link_to "#{quiz.data_final}", new_learning_result_path(:data_final => quiz.data_final) %><br>
      <% end %>
  </div>
<% end %>
<p>
    <strong>Minhas Turmas</strong>
</p>
<table>
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Turno</th>
      <th>Codigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.subject.nome %></td>
        <td><%= classroom.turno %></td>
        <td><%= classroom.codigo %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>-->
