<%= javascript_include_tag "application", params[:controller] %>
<h1>Enviar video</h1>
<%= form_tag({ :controller => "teachers_area", :action => "create_video"}, { :id => "form_video"}) do |f| %>
<div class="field">
    <%= label_tag :Turma %>
    <%= grouped_collection_select(nil, :classroom_id, @subjects, :classrooms, :nome, :id, :codigo)%>
</div>
<div class="field">
    <%= label_tag :Alunos %>
    <%= grouped_collection_select(nil, :users_id, @classrooms, :users, :codigo, :id, :nome)%>
</div>
<%= submit_tag "Enviar" %>
<% end %>