<%= javascript_include_tag "add_obs.js"%>
<h1>Plano de carreira</h1>
<h2>Nome: <%= @plano.user.nome.capitalize %></h2>
<h2>Curso: <%= @plano.user.course.nome %> </h2>

        <div id ="ameacas_e_respostas">
          <h3>Ameacas</h3>
          <% @plano.threats.each do |threat|%>
            <%= text_area_tag 'ameacas', threat.text, readonly: true%>
            <h3>Respostas ameaca</h3>
            <% threat.threats_answers.each do |answer| %>
              <%= text_area_tag 'respostas_ameaca', answer.text, readonly: true%>
            <% end %>
          <% end %>
            <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'threats'%>
            </div>
            <a href="#" class="add_button">Adicionar Observação</a>
        </div>

        <div id="oportunidades_e_respostas">
          <h3>Oportunidades</h3>
          <% @plano.opportunities.each do |opportunity|%>
            <%= text_area_tag 'oportunidades', opportunity.text, readonly: true%>
            <% opportunity.opportunity_answers do |answer|%>
              <h3>Respostas oportunidades</h3>
              <%= text_area_tag 'respostas_oportunidades', answer.text, readonly: true%>
            <% end %>
          <%  end %>
          <div class="note_div">
            <h2>Nova Observação</h2>
            <%= render 'notes/form', topico: 'opportunities'%>
          </div>
          <a href="#" class="add_button">Adicionar Observação</a>
        </div>

        <div id="fraquezas_e_respostas">
         <h3>Fraquezas</h3>
         <% @plano.weaknesses.each do |weakness|%>
          <%= text_area_tag 'fraquezas', weakness.text, readonly: true%>
          <% weakness.weakness_answers.each do |answer|%>
            <h3>Respostas fraquezas</h3>
            <%= text_area_tag 'respostas_fraquezas', answer.text, readonly: true%>
          <% end %>
         <% end %>
         <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'weaknesses'%>
          </div>
          <a href="#" class="add_button">Adicionar Observação</a>

         </div>

         <div id="forcas_e_respostas">
         <h3>Forças</h3>
         <% @plano.strengths.each do |strength|%>
          <%= text_area_tag 'forcas', strength.text, readonly: true%>
          <% strength.strength_answers.each do |answer|%>
            <h3>Respostas forcas</h3>
            <%= text_area_tag 'respostas_forcas', answer.text, readonly: true%>
          <% end %>
         <% end %>
         <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'strengths'%>
          </div>
          <a href="#" class="add_button">Adicionar Observação</a>
         </div>

         <div id="missao">
         <h3>Minha missão</h3>
         <%= text_area_tag 'missao', @plano.mission, readonly: true%>
         <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'mission'%>
          </div>
          <a href="#" class="add_button">Adicionar Observação</a>
         </div>

         <div id="objetivos">
            <h3>Objetivos</h3>
            <% @plano.objectives.each do |objective|%>
              <%= text_area_tag 'objetivos', objective.text, readonly: true%>
              <% objective.strategies.each do |strategy|%>
                <h3>Estratégias: </h3>
                <%= text_area_tag 'estrategias', strategy.text, readonly: true%>
              <% end %>
            <% end %>
         <div class="note_div">
              <h2>Nova Observação</h2>
              <%= render 'notes/form', topico: 'objetivos'%>
          </div>
          <a href="#" class="add_button">Adicionar Observação</a>
         </div>
  <br>

  <%= link_to "Gerar PDF", teachers_area_pdf_plan_path(format: 'pdf', plano: @plano) %>
