<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Plano de Carreira <%= link_to  teachers_area_pdf_plan_path(format: 'pdf', plano: @plano), :class => "btn btn-danger", style:  "float: right;" do  %> 
            <i class="fa  fa-file-pdf-o "></i>
        <% end %>
    </h4>
        <p><b>Nome:</b> <%= @plano.user.nome.capitalize %><br>

  </div>
          <div class="panel-body">
                <div class="col-lg-12">

                      <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#forcas" aria-controls="forcas" role="tab" data-toggle="tab"><h4>Forças</h4></a></li>
                      <li role="presentation"><a href="#oportunidades" aria-controls="oportunidades" role="tab" data-toggle="tab"><h4>Oportunidades</h4></a></li>
                      <li role="presentation"><a href="#fraquezas" aria-controls="fraquezas" role="tab" data-toggle="tab"><h4>Fraquezas</h4></a></li>
                      <li role="presentation"><a href="#ameacas" aria-controls="ameacas" role="tab" data-toggle="tab"><h4>Ameaças</h4></a></li>
                      <li role="presentation"><a href="#missao" aria-controls="missao" role="tab" data-toggle="tab"><h4>Missão</h4></a></li>
                      <li role="presentation"><a href="#objetivos" aria-controls="objetivos" role="tab" data-toggle="tab"><h4>Objetivos</h4></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="forcas">
                        <% @plano.strengths.each do |strength|%>
                          <h2><%= truncate(strength.text, length: 65) %></h2>
                            <h4>&nbsp;&nbsp;Respostas:</h4>
                            <% strength.strength_answers.each do |answer|%>
                              <p>&nbsp; &nbsp; &nbsp; • <%= truncate(answer.text, length: 140) %></p>
                            <% end %>
                           <hr>
                           <% end %>
                        <center><%= link_to ' + Adicionar Observação', '#new_obs_forca', 'data-toggle' => 'modal', :class => "btn btn-default" %></center>
                            <div class="modal fade" id="new_obs_forca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Observação</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'notes/form', modal: true, topico: 'strengths'%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div role="tabpanel" class="tab-pane active" id="oportunidades">
                        <% @plano.opportunities.each do |opportunity|%>
                        <h2><%= truncate(opportunity.text,length: 65) %></h2>
                            <h4>&nbsp;&nbsp;Respostas:</h4>
                            <% opportunity.opportunity_answers.each do |answer|%>
                              <p>&nbsp; &nbsp; &nbsp; • <%= truncate(answer.text, length: 140) %></p>
                            <% end %>
                           <hr>
                           <% end %>
                        <center><%= link_to ' + Adicionar Observação', '#new_obs_oportunidade', 'data-toggle' => 'modal', :class => "btn btn-default" %></center>
                            <div class="modal fade" id="new_obs_oportunidade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Observação</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'notes/form', modal: true,topico: 'opportunities'%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>

                      <div role="tabpanel" class="tab-pane active" id="fraquezas">
                        <% @plano.weaknesses.each do |weakness|%>
                        <h2><%= truncate(weakness.text, length: 65) %></h2>
                            <h4>&nbsp;&nbsp;Respostas:</h4>
                            <% weakness.weakness_answers.each do |answer|%>
                              <p>&nbsp; &nbsp; &nbsp; • <%= truncate(answer.text, length: 140) %></p>
                            <% end %>
                           <hr>
                           <% end %>
                        <center><%= link_to ' + Adicionar Observação', '#new_obs_fraqueza', 'data-toggle' => 'modal', :class => "btn btn-default" %></center>
                            <div class="modal fade" id="new_obs_fraqueza" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Observação</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'notes/form', modal: true,topico: 'weaknesses'%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>

                      <div role="tabpanel" class="tab-pane active" id="ameacas">
                        <% @plano.threats.each do |threat|%>
                        <h2><%= truncate(threat.text, length: 65) %></h2>
                            <h4>&nbsp;&nbsp;</i>Respostas:</h4>
                            <% threat.threats_answers.each do |answer| %>
                              <p>&nbsp; &nbsp; &nbsp; • <%= truncate(answer.text, length: 140) %></p>
                            <% end %>
                           <hr>
                           <% end %>
                        <center><%= link_to ' + Adicionar Observação', '#new_obs_ameaca', 'data-toggle' => 'modal', :class => "btn btn-default" %></center>
                            <div class="modal fade" id="new_obs_ameaca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Observação</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'notes/form', modal: true,topico: 'threats'%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>

                   <div role="tabpanel" class="tab-pane active" id="missao">
                        <h2>Missão</h2>
                        <p>&nbsp;&nbsp;<%= @plano.mission %></p>
                        <hr>
                        <center><%= link_to ' + Adicionar Observação', '#new_obs_missao', 'data-toggle' => 'modal', :class => "btn btn-default" %></center>
                            <div class="modal fade" id="new_obs_missao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Observação</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'notes/form', modal: true,topico: 'mission'%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>

                      <div role="tabpanel" class="tab-pane active" id="objetivos">
                        <% @plano.objectives.each do |objective|%>
                        <h2><%= truncate(objective.text, length: 65) %></h2>
                        <h4>&nbsp;Limite máximo: <%= objective.data.strftime("%-d/%-m/%y") %></h4>

                        <h3>&nbsp;Estratégias aos objetivos :</h3>
                        <% objective.strategies.each do |answer|%>
                        <h5>&nbsp;&nbsp;&nbsp;• <%= truncate(answer.text,length: 140) %></h5>
                        <h5>&nbsp; &nbsp; &nbsp;Limite definido: <%= answer.deadline.strftime("%-d/%-m/%y") %></h5>


                            <% end %>
                           <hr>
                           <% end %>
                        <center><%= link_to ' + Adicionar Observação', '#new_obs_objectives', 'data-toggle' => 'modal', :class => "btn btn-default" %></center>
                            <div class="modal fade" id="new_obs_objectives" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Observação</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'notes/form', modal: true,topico: 'objetivos'%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>

                      </div>

                    </div>
                </div>
        </div>
    </div>
</div>
<!--  <div class="row mt">
   <div class="col-lg-12">
         <div class="field">
           <br><center><%= link_to "Gerar PDF", teachers_area_pdf_plan_path(format: 'pdf', plano: @plano), :class => "btn btn-danger"  %></center>
         </div>
   </div>
</div>
-->