<h2><i class="fa fa-angle-right"></i>Plano de carreira</h2>
<p><b>Nome:</b> <%= @plano.user.nome.capitalize %><br>
<b>Curso:</b> <%= @plano.user.course.nome %> </p>
<div class="row mt">
  <div class="col-lg-12">
      <div class="content-panel">
        <div class="row mt">
                <div class="col-lg-12">
                      <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#forcas" aria-controls="forcas" role="tab" data-toggle="tab"><h4>Forças</h4></a></li>
                      <li role="presentation"><a href="#oportunidades" aria-controls="oportunidades" role="tab" data-toggle="tab"><h4>Oportunidades</h4></a></li>
                      <li role="presentation"><a href="#fraquezas" aria-controls="fraquezas" role="tab" data-toggle="tab"><h4>Fraquezas</h4></a></li>
                      <li role="presentation"><a href="#ameacas" aria-controls="ameacas" role="tab" data-toggle="tab"><h4>Ameaças</h4></a></li>
                      <li role="presentation"><a href="#missao" aria-controls="missao" role="tab" data-toggle="tab"><h4>Missão</h4></a></li>
                      <li role="presentation"><a href="#objetivos" aria-controls="objetivos" role="tab" data-toggle="tab"><h4>Objetivos</h4></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="forcas">
                        <% @plano.strengths.each do |strength|%>
                        <h2>&nbsp;<i class="fa fa-angle-right"></i><%= strength.text %></h2>
                            <h3>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>Respostas:</h3>
                            <% strength.strength_answers.each do |answer|%>
                              <p>&nbsp; &nbsp; &nbsp; • <%= answer.text %></p>
                            <% end %>
                           <hr>
                           <% end %>
                        <center><%= link_to ' + Adicionar Observação', '#new_obs_forca', 'data-toggle' => 'modal', :class => "add_button btn btn-primary" %></center>
                            <div class="modal fade" id="new_obs_forca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Observação</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'notes/form', topico: 'strengths'%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div role="tabpanel" class="tab-pane active" id="oportunidades">
                        <% @plano.opportunities.each do |opportunity|%>
                        <h2>&nbsp;<i class="fa fa-angle-right"></i><%= opportunity.text %></h2>
                            <h3>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>Respostas:</h3>
                            <% opportunity.opportunity_answers.each do |answer|%>
                              <p>&nbsp; &nbsp; &nbsp; • <%= answer.text %></p>
                            <% end %>
                           <hr>
                           <% end %>
                        <center><%= link_to ' + Adicionar Observação', '#new_obs_oportunidade', 'data-toggle' => 'modal', :class => "add_button btn btn-primary" %></center>
                            <div class="modal fade" id="new_obs_oportunidade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Observação</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'notes/form', topico: 'opportunities'%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>

                      <div role="tabpanel" class="tab-pane active" id="fraquezas">
                        <% @plano.weaknesses.each do |weakness|%>
                        <h2>&nbsp;<i class="fa fa-angle-right"></i><%= weakness.text %></h2>
                            <h3>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>Respostas:</h3>
                            <% weakness.weakness_answers.each do |answer|%>
                              <p>&nbsp; &nbsp; &nbsp; • <%= answer.text %></p>
                            <% end %>
                           <hr>
                           <% end %>
                        <center><%= link_to ' + Adicionar Observação', '#new_obs_fraqueza', 'data-toggle' => 'modal', :class => "add_button btn btn-primary" %></center>
                            <div class="modal fade" id="new_obs_oportunidade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Observação</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'notes/form', topico: 'weaknesses'%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>

                      <div role="tabpanel" class="tab-pane active" id="ameacas">
                        <% @plano.threats.each do |threat|%>
                        <h2>&nbsp;<i class="fa fa-angle-right"></i><%= threat.text %></h2>
                            <h3>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>Respostas:</h3>
                            <% threat.threats_answers.each do |answer| %>
                              <p>&nbsp; &nbsp; &nbsp; • <%= answer.text %></p>
                            <% end %>
                           <hr>
                           <% end %>
                        <center><%= link_to ' + Adicionar Observação', '#new_obs_ameaca', 'data-toggle' => 'modal', :class => "add_button btn btn-primary" %></center>
                            <div class="modal fade" id="new_obs_ameaca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Observação</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'notes/form', topico: 'threats'%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>

                   <div role="tabpanel" class="tab-pane active" id="missao">
                        <h2>&nbsp;<i class="fa fa-angle-right"></i>Missão</h2>
                        <p>&nbsp;&nbsp;<%= @plano.mission %></p>
                        <hr>
                        <center><%= link_to ' + Adicionar Observação', '#new_obs_missao', 'data-toggle' => 'modal', :class => "add_button btn btn-primary" %></center>
                            <div class="modal fade" id="new_obs_missao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Observação</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'notes/form', topico: 'mission'%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>

                      <div role="tabpanel" class="tab-pane active" id="objetivos">
                        <% @plano.objectives.each do |objective|%>
                        <h2>&nbsp;<i class="fa fa-angle-right"></i><%= objective.text %></h2>
                        <h4>&nbsp;&nbsp;Limite máximo: <%= objective.data %></h4>

                        <h3>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>Estratégia ao objetivo</h3>
                        <% objective.strategies.each do |answer|%>
                        <h4>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i><%= answer.text %></h4>
                        <h5>&nbsp; &nbsp; &nbsp; &nbsp;Limite definido: <%= answer.deadline %></h5>


                            <% end %>
                           <hr>
                           <% end %>
                        <center><%= link_to ' + Adicionar Observação', '#new_obs_ameaca', 'data-toggle' => 'modal', :class => "add_button btn btn-primary" %></center>
                            <div class="modal fade" id="new_obs_ameaca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Nova Observação</h4>
                                  </div>
                                  <div class="modal-body">
                                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                                    <%= render 'notes/form', topico: 'objetivos'%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>

                      </div>

                    </div>
                </div>
        </div>
    </div>
</div>
 <div class="row mt">
    <div class="col-lg-12">
          <div class="field">
            <br><center><%= link_to "Gerar PDF", teachers_area_pdf_plan_path(format: 'pdf', plano: @plano), :class => "btn btn-danger"  %></center>
          </div>
    </div>
</div>
