<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(Strategy.new, remote: remote, html: {role: :form, 'data-model' => 'strategy'}) do |f| %>

  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.date_select :deadline, :start_year => Date.current.year, :end_year => locals[:limit].year %>
  </div>
  <div class="field">
    <%= f.label :estrategia, class: 'control-label' %><br>
    <%= f.text_field :text, class: 'control-label' %>
    <span class="help-block"></span>
  </div>
  <div class="field">
    <%= f.hidden_field :objective_id, :value => locals[:teste] %>
  </div>
  <div class="actions">
    <%= f.submit "criar estratégia"%>
  </div>
<% end %>
