<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(WeaknessAnswer.new, remote: remote, html: {role: :form, 'data-model' => 'weakness_answer'}) do |f| %>


  <div class="field">
    <%= f.label :text, class: 'control-label' %><br>
    <%= f.text_field :text, class: 'control-label' %>
    <span class="help-block"></span>
  </div>
  <div class="field">
    <%= f.hidden_field :weakness_id, :value => locals[:teste] %>
  </div>
  <div class="actions">
    <%= f.submit "responder fraqeuza"%>
  </div>
<% end %>
