      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <p class="centered"><%= image_tag current_user.avatar.url(:thumb), class: "img-circle" %></p>

                  <h5 class="centered"><%=current_user.nome%></h5>

                  <li class="mt">
                      <%= link_to admin_index_path, :class => 'active' do%>
                          <i class="fa fa-home"></i>
                          <span>Home</span>
                      <%  end %>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-puzzle-piece"></i>
                          <span>Carreira</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Buscar planos', teachers_area_search_plans_path%></li>
                          <li><%= link_to 'Buscar âncoras', search_results_path %></li>
                          <li><%= link_to 'Comparar âncoras ', analytics_results_path %></li>
                          <li><%= link_to 'Criar Questionario', new_quiz_path %></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-sliders"></i>
                          <span>Estilos de aprendizagem</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Buscar resultados', search_learning_results_path %></li>
                          <li><%= link_to 'Cria Questionario', new_learning_quiz_path %></li>
                          <li><%= link_to 'Comparar resultados', analytics_learning_results_path %></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-calendar-check-o"></i>
                          <span>Atividades</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Criar Atividade', teachers_area_send_atividade_extra_path%></li>
                          <li><%= link_to 'Atividades Criadas', teachers_area_list_atividades_path%></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-youtube-play"></i>
                          <span>Videos</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Videos Enviados', teachers_area_videos_index_path %></li>
                          <li><%= link_to 'Enviar video', teachers_area_send_video_path %></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-youtube-play"></i>
                          <span>Casos de Ensino</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Adicionar Caso', new_study_case_path %></li>
                          <li><%= link_to 'meus Casos', study_cases_path %></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-youtube-play"></i>
                          <span>Perfil</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to "Editar", edit_user_registration_path %></li>
                      </ul>
                  </li>


              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->