<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <title>Saad</title>

  <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag 'style', 'style-responsive','bootstrap', 'font-awesome','jquery.gritter' %>
    <!--external css-->
    <%= stylesheet_link_tag 'lineicons/style.css' %>

    <!-- Custom styles for this template -->



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container" >
    <% if user_signed_in? %>
        <%= render :partial => 'layouts/navbar' %>

        <% if current_user.type == 'Teacher' %>
            <%= render :partial => 'layouts/sidebarteacher' %>
        <% elsif current_user.type == 'Student' %>
            <%= render :partial => 'layouts/sidebarstudent' %>
        <% elsif current_user.type == 'Administrator' %>
            <%= render :partial => 'layouts/sidebaradmin' %>
        <% elsif current_user.type == 'Coordinator' %>
            <%= render :partial => 'layouts/sidebarcoordinator' %>
        <% elsif current_user.type == 'Principal' %>
            <%= render :partial => 'layouts/sidebarprincipal' %>
        <% end %>

    <% end  %>
    <section id="main-content">
          <section class="wrapper">

              <div class="row">
                  <div class="col-lg-9 main-chart">
                        <p class="notice"><%= notice %></p>
                        <p class="alert"><%= alert %></p>
                        <%= yield %>
                  </div>
              </div>
          </section>

    </section>





<!-- js placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'jquery.min', 'jquery-migrate-1.4.1.min', 'bootstrap', 'jquery.dcjqaccordion.2.7', 'jquery.scrollTo.min', 'jquery.nicescroll', 'jquery.sparkline', 'common-scripts'%>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>

    <!--common script for all pages-->
    <%= javascript_include_tag 'gritter/js/jquery.gritter.js' %>
    <%= javascript_include_tag 'gritter/js/gritter-conf.js' %>

</section>
</body>
</html>
