<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <title>Saad</title>

  <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag 'style', 'style-responsive','bootstrap', 'font-awesome', 'zabuto_calendar', 'jquery.gritter' %>
    <!--external css-->
    <%= stylesheet_link_tag 'lineicons/style.css' %>

    <!-- Custom styles for this template -->
    <%= javascript_include_tag 'chart-master/Chart.js'%>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container" >
    <% if user_signed_in? %>
        <%= render :partial => 'layouts/navbar' %>
        <li>
            <%= link_to "Sair", destroy_user_session_path, :method => 'delete' %>
        </li>
        <li>
            <%= link_to "Home", admin_index_path %>
        </li>
    <% end  %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>


<!-- js placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'jquery', 'jquery-1.8.3', 'bootstrap', 'jquery.dcjqaccordion.2.7', 'jquery.scrollTo', 'jquery.nicescroll', 'jquery.sparkline', 'common-scripts'%>

    <!--common script for all pages-->
    <%= javascript_include_tag 'gritter/js/jquery.gritter.js' %>
    <%= javascript_include_tag 'gritter/js/gritter-conf.js' %>

</section>
</body>
</html>
