 <div class="panel panel-default">
  <div class="panel-heading">
    <center><h4><i class="fa fa-user"></i>Editar Perfil</h4></center>
  </div>
      <div class="row mt">
        <div class="panel-body">
          <div class="col-lg-12">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|%>
            <%= devise_error_messages! %>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-6">
                        <%= f.label :nome%>
                          <%= f.text_field :nome, :class => "form-control" %>
                </div>
              <div class="col-lg-3">
                        <div class="form-group">
                          <%= f.label :cpf %>
                            <%= f.text_field :cpf, :class => "form-control" %>
                        </div>
                  </div>
                <div class="col-lg-3">
                      <div class="field form-group">
                          <%= f.label :telefone   %>
                            <%= f.text_field :telefone, :class => "form-control" %>
                      </div>
                </div>

          </div>
          </div>
            <div class="row">
            <div class="form-group">

                <div class="col-lg-6">
                      <div class="field form-group">
                          <%= f.label :endereco  %>
                            <%= f.text_field :endereco, :class => "form-control" %>
                      </div>
                </div>
                <div class="col-lg-3">
                      <div class="field form-group">
                          <%= f.label :email %>
                            <%= f.email_field :email, autofocus: true, :class => "form-control" %>
                      </div>
                </div>
                <div class="col-lg-3">
                  <div class="field form-group">
                      <%= f.label :avatar %>
                        <%= f.file_field :avatar, :class => "form-control" %>
                  </div>
                </div>

            </div>
        </div>
         <div class="row">
            <div class="form-group">
                <div class="col-lg-6">
                       <div class="field form-group">

                          <%= f.label :lattes %>
                            <%= f.text_field :lattes, :class => "form-control" %>
                      </div>
                </div>
                <div class="col-lg-6">
                      <div class="field form-group">
                          <%= f.label :biografia %>
                            <%= f.text_area :biografia, :class => "form-control",rows:3 %>
                      </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="form-group">
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                  <div class="col-lg-4">
                      <div class="field form-group">
                            <%= f.label :senha_atual  %>
                            <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
                            <br><i>(Insira sua senha atual para validar as mudanças)</i>
                      </div>
                </div>
                <div class="col-lg-4">
                      <div class="field form-group">
                            <%= f.label :nova_senha %>
                            <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
                            <br><i>(deixe em branco caso não queira mudar)</i>
                      </div>
                </div>
                <div class="col-lg-4">
                      <div class="field form-group">
                          <%= f.label :confirmação_nova_senha %>
                            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
                            <br><i>(repita o valor preenchido no campo anterior)</i>
                      </div>
                </div>
            </div>
            </div>
            <div class="actions">
                <center><%= f.submit "Atualizar", :class => "btn btn-success btn-sm" %></center>
            </div>
            <% end %>
      </div>
  </div>
</div>
<!--
<h3>Excluir conta</h3>

<p>Cancelar conta? <%= button_to "Cancelar conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
-->