<div id="login-page">
  <div class="container">
        <%= render 'layouts/messages' %>
    <!--<form class="form-login" action="index.html"> -->
        <%= javascript_include_tag "registrations" %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-login"}) do |f| %>
        <h2 class="form-login-heading">Bem vindo ao Saad, logue-se para acessar</h2>
        <div class="login-wrap">
        <div class="field">
          <%= f.label :nome %>
          <%= f.text_field :nome, :class => "form-control" %>

        </div>
        <div class="field">
        <%= f.label :telefone %>
          <%= f.text_field :telefone, :class => "form-control" %>
          </div>
          <div class="field">
          <%= f.label :endereco %>
          <%= f.text_field :endereco, :class => "form-control" %>

          </div>
          <div class="field">
          <%= f.label :lattes %>
          <%= f.text_field :lattes, :class => "form-control" %>

          </div>
          <div class="field">
          <%= f.label :biografia %>
          <%= f.text_area :biografia, :class => "form-control" %>

          </div>
          <!--<%= f.select :type, [['Estudante', 'Student'], ['Professor','Teacher']],{:class => "form-control"} %>-->
          <div class="field">
          <%= f.label :tipo_de_usuario %>
          <select name="user[type]" id="user_type" class="form-control">
            <option value="Student">Estudante</option>
            <option value="Teacher">Professor</option>
          </select>

          </div>
          <div class="field">
          <%= f.label :matricula %>
          <%= f.text_field :matricula, :class => "form-control" %>

          </div>
          <div class="field">
          <%= f.label :foto_100x100 %>
          <%= f.file_field :avatar, :class => "form-control" %>

          </div>
          <div class="field">
          <%= f.label :instituição %>
          <%= f.collection_select :institution_id, Institution.order(:nome), :id, :nome, include_blank: true, :required => true %>
          </div>
          <div class="field">
          <%= f.label :campus %>
          <%= grouped_collection_select(nil, :campu_id, Institution.order(:nome), :campus, :nome, :id, :name, :class => "form-control")%>
          </div>

          <div class="field">
          <%= f.label :centro %>
          <%= grouped_collection_select(nil, :center_id, Campu.order(:name), :centers, :name, :id, :name)%>
          </div>

          <div class="field">
          <%= f.label :curso %>
          <%= f.grouped_collection_select :course_id, Center.order(:name), :courses, :name, :id, :nome%>
          </div>

          <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, :class => "form-control" %>

          </div>
          <div class="field">
          <%= f.label :senha %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>

          </div>
          <div class="field">
          <%= f.label :confirmação_senha %>
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>

          </div>
          <div class="field">
          <button class="btn btn-theme btn-block" name="commit" value="Log in" type="submit"><i class="fa fa-lock"></i>SIGN UP</button>
          </div>


          <div class="registration">
            <%= render "users/shared/links" %>
          </div>

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Forgot Password ?</h4>
              </div>
              <div class="modal-body">
                <p>Enter your e-mail address below to reset your password.</p>
                <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                <button class="btn btn-theme" type="button">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <!-- modal -->
    <% end %>
    <!--</form>-->

  </div>
</div>

<!--<h2>Cadastro</h2>-->
<!--<%= javascript_include_tag "registrations" %>-->
<!--<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>-->
  <!--<%= devise_error_messages! %>-->

    <!--<div class="field">-->
    <!--<%= f.label :nome %>-->
    <!--<%= f.text_field :nome %>-->
  <!--</div>-->
  <!--<div class="field">-->
    <!--<%= f.label :telefone %>-->
    <!--<%= f.text_field :telefone %>-->
  <!--</div>-->
  <!--<div class="field">-->
    <!--<%= f.label :endereco %>-->
    <!--<%= f.text_field :endereco %>-->
  <!--</div>-->
  <!--<div class="field">-->
    <!--<%= f.label :lattes %>-->
    <!--<%= f.text_field :lattes %>-->
  <!--</div>-->
   <!--<div class="field">-->
    <!--<%= f.label :biografia %>-->
    <!--<%= f.text_area :biografia %>-->
  <!--</div>-->
  <!--<div class="field">-->
    <!--<%= f.label :tipo%>-->
    <!--<%= f.select :type, [['Estudante', 'Student'], ['Professor','Teacher']]%>-->
  <!--</div>-->
  <!--<div class="field">-->
    <!--<%= f.label :matricula %>-->
    <!--<%= f.text_field :matricula %>-->
  <!--</div>-->

  <!--<div class="field">-->
    <!--<%= f.label :foto %>-->
    <!--<%= f.file_field :avatar %>-->
  <!--</div>-->

  <!--<div class="field">-->
    <!--<%= label_tag :institution %>-->
    <!--<%= f.collection_select :institution_id, Institution.order(:nome), :id, :nome, include_blank: true%>-->
  <!--</div>-->

  <!--<div class="field">-->
    <!--<%= label_tag :Campus %>-->
    <!--<%= grouped_collection_select(nil, :campu_id, Institution.order(:nome), :campus, :nome, :id, :name)%>-->
  <!--</div>-->
  <!--<div class="field">-->
    <!--<%= label_tag :Centro %>-->
    <!--<%= grouped_collection_select(nil, :center_id, Campu.order(:name), :centers, :name, :id, :name)%>-->
  <!--</div>-->

  <!--<div class="field">-->
    <!--<%= label_tag :Curso %>-->
    <!--<%= f.grouped_collection_select :course_id, Center.order(:name), :courses, :name, :id, :nome%>-->
  <!--</div>-->


  <!--<div class="field">-->
    <!--<%= f.label :email %>-->
    <!--<%= f.email_field :email, autofocus: true %>-->
  <!--</div>-->

  <!--<div class="field">-->
    <!--<%= f.label :senha %>-->
    <!--<% if @minimum_password_length %>-->
    <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
    <!--<% end %>-->
    <!--<%= f.password_field :password, autocomplete: "off" %>-->
  <!--</div>-->

  <!--<div class="field">-->
    <!--<%= f.label :confirmação_senha %>-->
    <!--<%= f.password_field :password_confirmation, autocomplete: "off" %>-->
  <!--</div>-->

  <!--<div class="actions">-->
    <!--<%= f.submit "Sign up" %>-->
  <!--</div>-->
<!--<% end %>-->

<!--<%= render "users/shared/links" %>-->
